<div class="container">
  <div class="d-flex justify-content-center h-100 direction-LTR">
    <div class="card">

      <div class="card-header">
        <h3>Sign In</h3>
        <div class="d-flex justify-content-end social_icon">
          <span><i class="fab fa-facebook-square"></i></span>
          <span><i class="fab fa-google-plus-square"></i></span>
          <span><i class="fab fa-twitter-square"></i></span>
        </div>
      </div>

      <div class="card-body">
        <form (ngSubmit)="login()">
          <ng-container *ngIf="loginWithSerialNumber; else loginWithUserName">
            <div class="input-group form-group">
              <div class="input-group-prepend">
                <span class="input-group-text"><i class="fas fa-user"></i></span>
              </div>
              <input type="text"
                     class="form-control"
                     placeholder="serial login number"
                     name="serialLoginNumber"
                     [(ngModel)]="serialLoginNumber"
                     required>

            </div>

            <div class="form-group">
              <button type="submit"
                      class="btn float-right login_btn">Insert</button>
            </div>

            <br><br><br><br>
            <div class="row justify-content-center">
              <div class="form-group">
                <button type="button"
                        (click)="scanBarcodForFirstLogin()"
                        class="btn scan_barcode_btn">get serial number by scan Barcod</button>
              </div>
            </div>
          </ng-container>
          <ng-template #loginWithUserName>
            <div class="input-group form-group">
              <div class="input-group-prepend">
                <span class="input-group-text"><i class="fas fa-user"></i></span>
              </div>
              <input type="text"
                     class="form-control"
                     placeholder="username"
                     name="userName"
                     [(ngModel)]="loginUserData.userName"
                     required>

            </div>
            <div class="input-group form-group">
              <div class="input-group-prepend">
                <span class="input-group-text"><i class="fas fa-key"></i></span>
              </div>
              <input type="password"
                     class="form-control"
                     placeholder="password"
                     name="password"
                     [(ngModel)]="loginUserData.password"
                     required>
            </div>
            <div class="row align-items-center remember">
              <input type="checkbox"
                     name="rememberMe"
                     [(ngModel)]="rememberMe">Remember Me
            </div>
            <div class="form-group">
              <button type="submit"
                      class="btn float-right login_btn">Login</button>
            </div>
          </ng-template>
        </form>
      </div>

      <div class="card-footer">
        <ng-container *ngIf="loginWithSerialNumber; else loginWithUserName_inFooter">
          <div class="d-flex justify-content-center links">
            <button type="submit"
                    class="btn login_serialNumber"
                    (click)="changeLoginWay()">Login with user
              name</button>
          </div>
        </ng-container>
        <ng-template #loginWithUserName_inFooter>
          <div class="d-flex justify-content-center links">
            <button type="submit"
                    class="btn login_serialNumber"
                    (click)="changeLoginWay()">Login with serial
              number</button>
          </div>
          <div class="d-flex justify-content-center">
            <a href="#">Forgot your password?</a>
          </div>
        </ng-template>
      </div>
    </div>
  </div>
</div>