.backgroundStyle {
  background-color: rgba(2, 2, 2, 0.3);
  border-radius: 5px;
}

.firstStep h1,
.firstStep h2,
.firstStep label {
  color: white;
}

.firstStep .allBoxStyle {
  text-align: center;
  margin-top: 30px;
}

.firstStep .boxStyle {
  padding: 15px;
  background-color: #1a4963db;
  border-radius: 5px;
}

.ui-steps .ui-steps-item {
  width: 25%;
}

.ui-steps.steps-custom {
  margin-bottom: 30px;
}

.ui-steps.steps-custom .ui-steps-item .ui-menuitem-link {
  height: 10px;
  padding: 0 1em;
}

.ui-steps.steps-custom .ui-steps-item .ui-steps-number {
  background-color: #0081c2;
  color: #FFFFFF;
  display: inline-block;
  width: 36px;
  border-radius: 50%;
  margin-top: -14px;
  margin-bottom: 10px;
}

.ui-steps.steps-custom .ui-steps-item .ui-steps-title {
  color: #555555;
}


.text-style {
  color: azure;
}
