<app-previous></app-previous>
<br><br>

<div class="firstStep">

  <div class="row justify-content-center"
       *ngIf="activeIndex != 3">
    <div class="col-md-6">
      <div class="header text-center">
        <h1 translate>התחברות למכשיר חדש</h1>
      </div>
    </div>
  </div>

  <div class="row justify-content-center">
    <div class="col-md-6 text-center">
      <p-steps [model]="items"
               [(activeIndex)]="activeIndex"
               [readonly]="true"></p-steps>
    </div>
  </div>

  <div class="row justify-content-center">
    <div class="col-md-4 backgroundStyle">

      <!-- step one -->
      <div id="slide1"
           [ngStyle]="{'display': activeIndex == 0 ? 'block' : 'none'}">
        <h2 class="text-center">Connect to device:</h2>

        <div>
          <label for="">Device name:</label>
          <input class="form-control"
                 [(ngModel)]="deviceName"
                 type="text"
                 required>
          <div *ngIf="errorConnectToDevice"
               class="alert alert-danger">
            <strong class="text-style">This device name not found</strong>
          </div>
        </div>

        <div class="text-right">
          <br>
          <button class="pull-right btn btn-primary"
                  (click)="connectToDevice()"
                  [disabled]="deviceName =='' || deviceName ==null">Save & Continue</button>
        </div>
      </div>

      <!-- step two -->
      <div id="slide2"
           [ngStyle]="{'display': activeIndex == 1 ? 'block' : 'none'}">
        <h2 class="text-center">Add building details:</h2>

        <div>
          <label for="">Building text:</label>
          <input class="form-control"
                 [(ngModel)]="buildingText"
                 type="text"
                 required>
        </div>

        <div>
          <label for="">Building number:</label>
          <input class="form-control"
                 [(ngModel)]="buildingNumber"
                 type="text"
                 required>
          <br>
        </div>

        <div>
          <br>
          <button class="pull-left btn btn-primary"
                  (click)="backConnectToDevice()">Back</button>
          <button class="pull-right btn btn-primary"
                  (click)="saveBuildingDetails()"
                  [disabled]="buildingText =='' || buildingText ==null || buildingNumber == null">Save
            &
            Continue</button>
        </div>
      </div>

      <!-- step three -->
      <div id="slide3"
           [ngStyle]="{'display': activeIndex == 2 ? 'block' : 'none'}">
        <h2 class="text-center">user Details:</h2>

        <div>
          <label for="">user name:</label>
          <input class="form-control"
                 [(ngModel)]="userName"
                 type="text"
                 required>
        </div>

        <div>
          <label for="">Password:</label>
          <input class="form-control"
                 [(ngModel)]="password"
                 type="text"
                 required>
        </div>

        <div>
          <br>
          <button class="pull-left btn btn-primary"
                  (click)="backToBuildingDetails()">Back</button>
          <button class="pull-right btn btn-primary"
                  (click)="saveUserDetails()"
                  [disabled]="userName =='' || userName ==null && password =='' || password ==null">Save &
            Finish</button>
        </div>
      </div>

      <!-- finish step -->
      <div id="slide4"
           [ngStyle]="{'display': activeIndex == 3 ? 'block' : 'none'}">
        <div class="text-center">
          <app-sign-controller [clickable]="true"
                               (setColorClicked)="openLightModal()"
                               (setBuildingNumClicked)="openBuildingNumberModal()"
                               (setTextClicked)="openTextAndFilesModal()"></app-sign-controller>
        </div>

        <div class="text-style">
          <h3 class="text-center">User details</h3>
          <p>User name: {{userName}}</p>
          <p>password: {{password}}</p>
        </div>

        <div class="text-center">
        </div>
      </div>


      <br><br>
    </div>
  </div>

</div>

<app-loading-page *ngIf="loadingPage"></app-loading-page>