<div *ngIf="dataIsReady"
     class="spaceTop disabledbutton"
     [ngClass]="{'disabledPage': !signStatus || !serviceStatus} ">

  <div class="row justify-content-center">
    <div class="col-12 col-sm-12 col-md-6">


      <!-- svg image -->
      <!-- <div class="row justify-content-center styleFromTop">
        <div class="col-12 col-sm-8 col-md-8 text-center paddingTop">
          <img src="../../../../assets/images/smart.png"
               class="img-width">
        </div>
      </div> -->

      <div *ngIf="!signStatus && !loadingPage"
           class="row justify-content-center">
        <div class="col-10">
          <div class="alert alert-error">
            <button type="button"
                    class="close"
                    data-dismiss="alert">&times;</button>
            ! The sign not connected to the internet
          </div>
        </div>
      </div>

      <div *ngIf="!serviceStatus  && !loadingPage"
           class="row justify-content-center">
        <div class="col-10">
          <div class="alert alert-error">
            <button type="button"
                    class="close"
                    data-dismiss="alert">&times;</button>
            The service is not working please call to our support team
          </div>
        </div>
      </div>

      <div class="row">
        <div class="offset-sm-2 col-2 col-md-2">
          <i class="fas fa-2x fa-wifi wifiStyle"
             [ngClass]="{'wifiColor': signDataAlive.wifi.status}"
             (click)="openWifiModal()"></i>
        </div>
        <div class="offset-6 offset-sm-4 col-2 pushLeftIcon"
             *ngIf="!showAlarmCancelIcon && tenantLevel==2">
          <i class="fas fa-bell fa-2x alarmIconStyle"
             (click)="openAlarmModal()"></i>
        </div>
        <div class="offset-6 offset-sm-4 col-2 pushLeftIcon"
             *ngIf="showAlarmCancelIcon && tenantLevel==2">
          <i class="fas fa-bell-slash fa-2x alarmIconStyle"
             (click)="openAlarmModal()"></i>
        </div>
      </div>

      <div class="row justify-content-center styleFromTop">
        <div class="col-12 col-sm-8 col-md-8 text-center paddingTop">
          <app-sign-controller [clickable]="clickableSign"
                               (setColorClicked)="openLightModal()"
                               (setBuildingNumClicked)="openBuildingNumberModal()"
                               (setTextClicked)="openTextAndFilesModal()"></app-sign-controller>
        </div>
      </div>

      <br>
      <!-- First line button -->
      <div class="row justify-content-center">
        <div class="col-12 col-sm-8 col-md-8">
          <div class="d-flex justify-content-center">
            <!--   <div class="col-2 col-md-2 text-center">
              <i class="fas fa-door-open fa-3x icon-style"
                 (click)="openBuildingDoor()"></i>
            </div> -->
            <!--   <div class="col-2 col-md-2 text-center">
              <i class="fas fa-car fa-3x icon-style"
                 (click)="openCarGate()"></i>
            </div> -->
            <!-- <div class="col-2 col-md-2 text-center">
              <i class="fas fa-camera fa-3x icon-style"
                 (click)="openCameraModal()"></i>
            </div> -->


            <div class="col-3 col-md-2 div-img-style">
              <img class="img-icon-style d-flex align-items-center"
                   src="../../../../assets/images/door_buildings.png"
                   (click)="openBuildingDoor()">
            </div>
            &nbsp; &nbsp;
            <div class="col-3 col-md-2 div-img-style">
              <img class="img-icon-style d-flex align-items-center"
                   src="../../../../assets/images/parking_gate.png"
                   (click)="openCarGate()">
            </div>
            &nbsp; &nbsp;
            <div class="col-3 col-md-2 div-img-style">
              <img class="img-icon-style d-flex align-items-center"
                   src="../../../../assets/images/security_camera.png"
                   (click)="openCameraModal()">
            </div>
          </div>

        </div>
      </div>




      <br>
      <!-- Secound line button -->
      <div class="text-center">
        <button type="button"
                class="btn btn-default buttonEmergencyCall btn-circle"
                (click)="callToAmbulance(1221)"><i class="fas fa-phone fa-3x"></i>1221
        </button>
        &nbsp;&nbsp;
        <button type="button"
                class="btn btn-default buttonEmergencyCall btn-circle"
                (click)="callToAmbulance(101)"><i class="fas fa-phone fa-3x"></i>101
        </button>
        &nbsp;&nbsp;
        <button type="button"
                class="btn btn-default buttonPoliceCall btn-circle"
                (click)="callToPolice(100)"><i class="fas fa-phone fa-3x"></i>100
        </button>
      </div>

      <br>
      <div class="text-center">
        <button type="button"
                class="btn btn-default buttonEmergency  btn-circle"
                (click)="aciveAmargncyState()">Active amergncy state
        </button>
      </div>

      <br>
      <div class="text-center">
        <i class="fas fa-sms fa-3x sms-icon"
           (click)="sendSms()"></i>
        &nbsp;
        <i class="fas fa-power-off fa-3x restart-icon"
           (click)="restartSign()"></i>
      </div>

      <br><br><br>

    </div>
  </div>

</div>



<app-loading-page *ngIf="loadingPage"></app-loading-page>

<!-- Modals -->
<app-text-and-files-modal *ngIf="showTextFilesModal"
                          (closeTextFileModal)="onCloseTextAndFilesModal($event)"></app-text-and-files-modal>
<app-building-number-modal *ngIf="showBuildingNumberModal"
                           [dataForBuildingNumberModal]="dataForBuildingNumberModal"
                           (closeBuildingNumberModal)="onCloseBuildingNumberModal($event)"></app-building-number-modal>
<app-light-modal *ngIf="showActiveLightModal"
                 [dataForActiveLightModal]="dataForActiveLightModal"
                 (closeActiveLightModal)="onCloseLightModal($event)"></app-light-modal>
<app-alarm-modal *ngIf="showAlarmModal"
                 [dataForActiveAlarmModal]="dataForActiveAlarmModal"
                 (closeActiveAlarmModal)="onCloseActiveAlarmModal($event)"></app-alarm-modal>
<app-camera-modal *ngIf="showCameraModal"
                  [dataForCameraModal]="dataForCameraModal"
                  (closeCameraModal)="onCloseCameraModal($event)"></app-camera-modal>
<app-wifi-modal *ngIf="showWifiModal"
                [dataForWifiModal]="dataForWifiModal"
                (closeWifiModal)="onCloseWifiModal($event)"></app-wifi-modal>