.spaceTop {
  padding-top: 50px;
}

.textWhite {
  color: aliceblue;
}

.btn-default.buttonEmergency {
  font-size: x-large;
  background-color: #f0002c;
}

.btn-default.buttonPoliceCall {
  background-color: #0066ff;
}

.btn-default.buttonEmergencyCall {
  background-color: #f92b51;
}

.btn-default.otherButton {
  background-color: #91ff0094;
}

.btn-circle.btn-xl {
  width: 140px;
  height: 140px;
  padding: 10px 16px;
  font-size: 24px;
  line-height: 1.33;
  border-radius: 70px;
}

.button1 {
  background-image: url("./../../../../assets/images/icon_mada.png");
}

.button2 {
  background-image: url("./../../../../assets/images/icon_police.png");
}



.img-width {
  width: 90%;
}



.icon-style {
  color: #ffc138;
  cursor: pointer;
}

.wifiStyle {
  cursor: pointer;
}

.wifiColor {
  color: #0066ff;
}

.disabledPage {
  pointer-events: none;
  opacity: 0.8;
}

.alert.alert-error {
  background-color: #d20000;
  text-align: center;
}

.sms-icon {
  color: aqua;
  cursor: pointer;
}

.restart-icon {
  color: aqua;
  cursor: pointer;
}

.pushLeftIcon {
  left: 65px;
}

.alarmIconStyle {
  color: #0066ff;
  cursor: pointer;
  font-weight: 500;
}

.div-img-style {
  height: 65px;
  background-color: rgba(0, 0, 0, 0.5) !important;
  border-radius: 25px;
}

/* .div-img-style:focus {
  background-color: rgba(0, 0, 0, 0.8) !important;
} */

.img-icon-style {
  height: 100%;
  width: 100%;
  cursor: pointer;
}