<div class="row"
     id="contatti">
  <div class="container mt-5">

    <div class="row">
      <div class="col-lg-4 p-4 ">
        <h2 class="text-uppercase font-weight-bold text-color-red">CONTACT US</h2>
        <form (ngSubmit)="onSubmit()"
              #form="ngForm"
              novalidate
              autocomplete="off">
          <div class="row">
            <div class="col-lg-12">
              <div class="form-group">
                <input type="text"
                       [(ngModel)]="contact.name"
                       name="name"
                       class="form-control mt-2"
                       placeholder="Name / Company:"
                       required>
              </div>
            </div>
            <div class="col-lg-12">
              <div class="form-group">
                <input type="email"
                       [(ngModel)]="contact.email"
                       name="email"
                       class="form-control mt-2"
                       placeholder="Email:"
                       required>
              </div>
            </div>
            <div class="col-lg-12">
              <div class="form-group">
                <input type="text"
                       [(ngModel)]="contact.phone"
                       name="phone"
                       class="form-control mt-2"
                       placeholder="Phone number:"
                       required>
              </div>
            </div>
            <div class="col-12">
              <div class="form-group">
                <textarea class="form-control mt-2"
                          [(ngModel)]="contact.freeText"
                          name="freeText"
                          id="exampleFormControlTextarea1"
                          placeholder="Insert text:"
                          rows="4"
                          required></textarea>
              </div>
            </div>

            <div class="col-12">
              <div class="col-12 custom-control custom-checkbox mb-3">
                <input type="checkbox"
                       class="custom-control-input"
                       name="termsAccepted"
                       [(ngModel)]="termsAccepted"
                       id="termsAccepted">
                <label class="custom-control-label"
                       for="termsAccepted"> Accept the terms</label>
              </div>
            </div>

            <div class="col-10">
              <button [disabled]="!termsAccepted"
                      class="btn btn-primary aquaColor">Send to us</button>
            </div>

            <div *ngIf="isLoading"
                 class="col-12">
              <button type="button"
                      [disabled]="true"
                      class="btn btn-primary">
                <span class="spinner-border spinner-border"></span>
                Loading..
              </button>
            </div>

          </div>
        </form>


      </div>
      <div class="col-lg-4 p-4 d-flex justify-content-center">
        <div class="pl-0">
          <h2 class="text-uppercase font-weight-bold text-color-red">Our location</h2>
          <i class="fas fa-phone mt-3 text-color-blue"></i>
          <a class="text-color-red ml-1"
             href="tel:+">(+972) 037791101</a>
          <br>
          <!--    <i class="fas fa-phone mt-3 text-color-blue"></i>
          <a class="text-color-red ml-1"
             href="tel:+">(+972) 037791101</a>
          <br> -->
          <i class="fa fa-envelope mt-3 text-color-blue mr-1"></i>
          <span class="text-color-red">goldenMinutes@gmail.com</span><br>

          <i class="fas fa-map-marker-alt mt-3 text-color-blue mr-1"></i>
          <span class="text-color-red">Kiboth galoiot 1, Ashdod,
            Israel</span><br>

          <i class="fas fa-globe mt-3 text-color-blue mr-1"></i>
          <a class="text-color-red"
             href="http://www.golden-minutes.com">Our web site</a><br>

          <i class="fab fa-facebook mt-3 text-color-blue"></i>
          <a class="text-color-red ml-1"
             href="https://www.facebook.com/goldenminutesisrael/">Golden minutes</a>

        </div>
      </div>

      <div class="col-lg-4 p-4 maps">
        <div class="mapouter">
          <div class="gmap_canvas">
            <iframe id="gmap_canvas shadow-sm"
                    src="https://maps.google.com/maps?q=%D7%99%D7%A9%D7%A8%D7%90%D7%9C%20%D7%90%D7%A9%D7%93%D7%95%D7%93%20%D7%A7%D7%99%D7%91%D7%95%D7%A5%20%D7%92%D7%9C%D7%95%D7%99%D7%95%D7%AA%201&t=&z=13&ie=UTF8&iwloc=&output=embed"
                    allowfullscreen
                    frameborder="0"
                    scrolling="no"
                    marginheight="0"
                    marginwidth="0"></iframe></div>
        </div>
      </div>
    </div>
  </div>
</div>





<!-- src="https://maps.google.com/maps?q=Isreal%20ashqelon%20%D7%94%D7%99%D7%99%D7%A6%D7%95%D7%9C%2014&t=&z=13&ie=UTF8&iwloc=&output=embed" -->