#contatti {
  /*  background-color: #d3d3d3; */
  letter-spacing: 2px;
  margin-left: 0px;
  margin-right: 0px;
}

.row i a {
  font-family: Arial, Helvetica, sans-serif;
}

.col-lg-4.maps {
  opacity: 0.7;
  transition: 0.4s;
}

.col-lg-4.maps:hover {
  opacity: 1;
  transition: 0.4s;
}

@media (max-width: 575.98px) {

  #contatti {
    padding-bottom: 710px;
  }

  #contatti .maps iframe {
    width: 100%;
    height: 100px;
  }

}

@media (max-width: 991px) {

  .col-lg-4.p-4.d-flex.justify-content-center {
    display: inline !important;
  }

}

@media (min-width: 576px) {

  #contatti {
    padding-bottom: 710px;
  }

  #contatti .maps iframe {
    width: 100%;
    height: 400px;
  }
}

@media (min-width: 768px) {

  #contatti {
    padding-bottom: 350px;
  }

  #contatti .maps iframe {
    width: 100%;
    height: 500px;
  }

}

@media (min-width: 992px) {
  #contatti {
    padding-bottom: 100px;
  }

  #contatti .maps iframe {
    width: 100%;
    height: 444px;
  }
}

.custom-control-label {
  cursor: pointer;
}

.spinner-border {
  width: 1rem;
  height: 1rem;
}

.custom-control-label {
  cursor: pointer;
}

.text-color-red {
  color: #ff3838 !important;
}

.text-color-blue {
  color: rgb(60, 60, 253) !important;
}

.aquaColor {
  background: linear-gradient(40deg, #2096ff, #05ffa3) !important;
  border-color: #b36dff;
}