<div>

  <div class="centered">
    <div class="row">
      <div class="col-12 col-md-5">
        <button class="btn purple-gradient btn-rounded btn-change-zoom-effect btn-height text-style">
          רשימת לקוחות
        </button>
      </div>

      <div class="col-12 col-md-5">
        <button class="btn purple-gradient btn-rounded btn-change-zoom-effect btn-height text-style" (click)="goToAddNewDevice()">
          הוספת שלט חדש
        </button>

      </div>
    </div>
  </div>

</div>
