<div class="modal fade"
     id="buildingNumberModal"
     tabindex="-1"
     role="dialog"
     aria-hidden="true"
     data-backdrop="static"
     data-keyBoerd="false">
  <div class="modal-dialog"
       role="document">
    <div class="modal-content">

      <div class="modal-header text-center">
        <h5 class="modal-title">Building number</h5>
        <button type="button"
                class="close"
                (click)="closeModal()">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>

      <div class="modal-body">
        <div *ngIf="!loading">
          <div class="row justify-content-center">
            <div class="col-10 col-md-10">
              <div class="input-group input-group-lg">
                <div class="input-group-prepend">
                  <span class="input-group-text"
                        id="inputGroup-sizing-lg">Building: </span>
                </div>
                <input type="number"
                       class="form-control"
                       aria-label="Large"
                       [(ngModel)]="buildingNumber.number"
                       aria-describedby="inputGroup-sizing-sm">
              </div>
            </div>
          </div>

          <br>

          <div class="row justify-content-center">
            <div class="col-10 col-md-10">
              <div class="input-group input-group-lg">
                <div class="input-group-prepend">
                  <span class="input-group-text"
                        id="inputGroup-sizing-lg">Sub text: </span>
                </div>
                <input type="text"
                       class="form-control"
                       aria-label="Large"
                       [(ngModel)]="buildingNumber.subText"
                       aria-describedby="inputGroup-sizing-sm">
              </div>
            </div>
          </div>
        </div>

        <div *ngIf="loading"
             class="loader"></div>
      </div>

      <div class="modal-footer">
        <button type="button"
                class="btn btn-secondary"
                (click)="closeModal()">Close</button>
        <button type="button"
                class="btn btn-primary"
                [disabled]="loading"
                (click)="saveBuildingNumberChange()">Save changes</button>
      </div>
    </div>
  </div>
</div>