button:hover {
    background-color: rgba(253, 0, 0, 0.6) !important;
}

.btn-primary {
    background-color: #090b0c;
    border: 1px solid rgb(224, 224, 224);
    outline: none;
}

.btn-primary:hover {
    -webkit-animation: animateBackgroundColor 2s;
    animation: animateBackgroundColor 2s;
}
@-webkit-keyframes animateBackgroundColor {
    from { background-color: #090b0c !important; } 
    to { background-color: rgba(253, 0, 0, 0.6) !important; }
}
    
@keyframes animateBackgroundColor {
    from { background-color: #090b0c !important; } 
    to { background-color: rgba(253, 0, 0, 0.6) !important; }
}

.button {
    display: block;
    transition: all 0.5s;
    width: 80px;
}

.button span {
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.5s;
}

.button span:after {
    content: '\00ab';
    position: absolute;
    opacity: 0;
    top: 0;
    left: -15px;
    transition: 0.5s;
}

.button:hover span {
    padding-left: 15px;
}

.button:hover span:after {
    opacity: 1;
    left: 0;
}