<div class="modal fade"
     id="activeLightModal"
     tabindex="-1"
     role="dialog"
     aria-hidden="true"
     data-backdrop="static"
     data-keyBoerd="false">
  <div class="modal-dialog"
       role="document">
    <div class="modal-content">

      <div class="modal-header text-center">
        <h5 class="modal-title">Active light</h5>
        <button type="button"
                class="close"
                aria-label="Close"
                (click)="closeModal()">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>

      <div class="modal-body">
        <div *ngIf="!loading">

          <!-- For deactive light -->
          <div *ngIf="showDeactivateLightbutton">
            <div class="row justify-content-center">
              <div class="col-6 col-md-4">
                <button type="button"
                        class="btn btn-primary"
                        (click)="deactiveLight()">Deactive light</button>
              </div>
            </div>
            <br>
          </div>

          <div class="row justify-content-center">
            <div class="col-6 col-md-5">
              <label class="textFont"
                     *ngIf="!showDeactivateLightbutton">Select color: </label>
              <label class="textFont"
                     *ngIf="showDeactivateLightbutton">Chenge color: </label>
              <input class="form-control select-color-style"
                     type="color"
                     id="selectedColor"
                     name="selectedColor"
                     [(ngModel)]="lightData.color">
            </div>

            <div class="col-6 col-md-5">
              <label *ngIf="!lightData.blinkState">Fixed light</label>
              <label *ngIf="lightData.blinkState">Blink light</label>
              <br>
              <label class="switch">
                <input type="checkbox"
                       [(ngModel)]="lightData.blinkState">
                <span class="slider round"></span>
              </label>
            </div>
          </div>

          <br>

          <div class="row justify-content-center">
            <div class="col-6 col-md-5">
              <label>Duration (min):</label>
              <input type="number"
                     [(ngModel)]="lightData.duration"
                     class="form-control"
                     id="duration">
            </div>

            <div class="col-6 col-md-5">
              <div *ngIf="lightData.blinkState">
                <label for="">Blink time:</label>
                <select class="form-control"
                        [(ngModel)]="lightData.blinkTime">
                  <option value="250">1/4 secounds</option>
                  <option value="500">1/2 secounds</option>
                  <option value="1000">1 secound</option>
                  <option value="2000">2 secound</option>
                </select>
              </div>
            </div>
          </div>

          <!--   DELETE -->
          <div class="row justify-content-center">
            <div class="col-6 col-md-5">
              <label for="">Type:</label>
              <select class="form-control"
                      [(ngModel)]="lightData.type">
                <option value="A">A</option>
                <option value="B">B</option>
                <option value="C">C</option>
              </select>
            </div>
          </div>
          <!--   DELETE -->


        </div>
        <div *ngIf="loading"
             class="loader"></div>

      </div>

      <div class="modal-footer">
        <button type="button"
                class="btn btn-secondary"
                (click)="closeModal()">Close</button>
        <button type="button"
                class="btn btn-primary"
                [disabled]="loading"
                (click)="setActiveLight()">Active light</button>
      </div>
    </div>
  </div>
</div>