<div class="modal fade"
     id="cameraModal"
     tabindex="-1"
     role="dialog"
     aria-hidden="true"
     data-backdrop="static"
     data-keyBoerd="false">
  <div class="modal-dialog"
       role="document">
    <div class="modal-content">

      <div class="modal-header text-center">
        <h5 class="modal-title">Camera modal</h5>
        <button type="button"
                class="close"
                (click)="closeModal()">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>

      <div class="modal-body">
        <div class="input-group input-group-lg">
         
        </div>
      </div>

      <div class="modal-footer">
        <button type="button"
                class="btn btn-secondary"
                (click)="closeModal()">Close</button>
      </div>
    </div>
  </div>
</div>