<div *ngIf="dataIsReady">
  <br>

  <div class="row justify-content-center">
    <div class="col-md-8 backgroundStyle">

      <div class="row justify-content-center paddingTop">
        <div class="col-md-6 text-center">
          <i class="fas fa-user-plus fa-3x iconStyle"
             (click)="addFamilyMember()"></i>
        </div>

        <div class="col-md-6 text-center">
          <i class="fas fa-user-save fa-3x iconStyle"
             (click)="updateFamilyData()"></i>
        </div>
      </div>


      <div *ngFor="let family of familyDetails;let i = index">
        <br>
        <div class="form-group row justify-content-center">
          <label class="col-md-1 col-form-label form-control-label">שם :</label>
          <div class="col-md-4">
            <input class="form-control"
                   type="text"
                   name="name{{i}}"
                   placeholder="name"
                   [(ngModel)]="family.name">
          </div>
        </div>

        <div class="form-group row justify-content-center">
          <label class="col-md-4 col-form-label form-control-label">sex :</label>
          <div class="col-md-6">
            <input class="form-control"
                   type="text"
                   name="sex{{i}}"
                   placeholder="sex"
                   [(ngModel)]="family.sex">
          </div>
        </div>

        <div class="form-group row justify-content-center">
          <label class="col-md-4 col-form-label form-control-label">age :</label>
          <div class="col-md-6">
            <input class="form-control"
                   type="text"
                   name="age{{i}}"
                   placeholder="age"
                   [(ngModel)]="family.age">
          </div>
        </div>
      </div>
    </div>
  </div>

</div>