<nav class="navbar navbar-expand-lg bg-dark navbar-dark sticky-top">

   <!-- Brand -->
   <a class="navbar-brand ml-3 mr-5"
      routerLinkActive="active"
      href="/home-page-for-tenant">
      <img src="../assets/images/golden-minutes-logo.png"
           width=""
           height="23"
           alt="">
   </a>

   <!-- Toggler/collapsibe Button -->
   <button class="navbar-toggler collapsed"
           type="button"
           data-toggle="collapse"
           data-target="#collapsibleNavbar">
      <span class="navbar-toggler-icon"></span>
   </button>

   <!-- Navbar links -->
   <div class="collapse navbar-collapse"
        id="collapsibleNavbar">
      <ul class="navbar-nav">


         <li class="nav-item spaceFromSides">
            <a class="nav-item"
               href="/home-page-for-tenant">דף הבית</a>
         </li>

         <li class="nav-item spaceFromSides">
            <a class="nav-item"
               (click)="openPersonalDetails()">פרטים אישים</a>
         </li>

         <li class="nav-item spaceFromSides">
            <a class="nav-item"
               (click)="openFemilyDetails()">הוספת בני משפחה</a>
         </li>
         <li class="nav-item spaceFromSides">
            <a class="nav-item"
               (click)="openContactUs()">המוקד שלנו</a>
         </li>
         <li class="nav-item spaceFromSides">
            <a class="nav-item"
               href="">התנתקות</a>
         </li>
      </ul>

      <ul class="navbar-nav ml-auto">

         <form class="form-inline my-2 my-lg-0 mr-0 ml-4">
            <input class="form-control mr-2 d-inline-block w-auto"
                   type="search"
                   placeholder="Search"
                   aria-label="Search"
                   style="background-color: transparent;">
            <button class="btn btn-outline-warning my-0 my-sm-0"
                    type="submit"><i class="fas fa-search"></i></button>
         </form>

      </ul>

   </div>
</nav>

<!-- show home page -->
<app-home-page-for-tenant *ngIf="showHomePage"></app-home-page-for-tenant>

<!-- Personal details page -->
<app-personal-details *ngIf="showPersonalDetails"></app-personal-details>

<!-- Family details -->
<app-family-details *ngIf="showFemilyDetails"></app-family-details>

<!--  -->
<app-contact-us *ngIf="showContactUs"></app-contact-us>