.navbar-toggler:focus,
.navbar-toggler:active {
  outline: 0;
}

.navbar-toggler span {
  display: block;
  background-color: #444;
  height: 3px;
  width: 25px;
  margin-top: 4px;
  margin-bottom: 4px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
  position: relative;
  left: 0;
  opacity: 1;
}

.navbar-toggler span:nth-child(1),
.navbar-toggler span:nth-child(3) {
  -webkit-transition: transform .35s ease-in-out;
  -moz-transition: transform .35s ease-in-out;
  -o-transition: transform .35s ease-in-out;
  transition: transform .35s ease-in-out;
}

.navbar-toggler:not(.collapsed) span:nth-child(1) {
  position: absolute;
  left: 12px;
  top: 10px;
  -webkit-transform: rotate(135deg);
  -moz-transform: rotate(135deg);
  -o-transform: rotate(135deg);
  transform: rotate(135deg);
  opacity: 0.9;
}

.navbar-toggler:not(.collapsed) span:nth-child(2) {
  height: 12px;
  visibility: hidden;
  background-color: transparent;
}

.navbar-toggler:not(.collapsed) span:nth-child(3) {
  position: absolute;
  left: 12px;
  top: 10px;
  -webkit-transform: rotate(-135deg);
  -moz-transform: rotate(-135deg);
  -o-transform: rotate(-135deg);
  transform: rotate(-135deg);
  opacity: 0.9;
}

.humbargNavBar {
  position: absolute;
  z-index: 1030;
}

a {
  color: #007bff;
  text-decoration: none;
  background-color: transparent;
  cursor: pointer;
}

a:hover {
  color: #0056b3;
  text-decoration: underline;
}

.paddingTop {
  padding-top: 50px;
}




.spaceFromSides {
  margin-right: 10px;
  margin-left: 10px;
}










/* NEW top nav bar */

.dropdown-menu {
  top: 45px;
}

.navbar-nav .dropdown-menu a:hover {
  background-color: #343a40;
  cursor: pointer;
  color: white
}

.dropdown-item.active,
.dropdown-item:active {
  background-color: #343a40;
}

.form-inline {
  margin-right: 20px;
}

.logout,
.lang-btn {
  cursor: pointer;
}

#menu-toggle {
  margin-right: auto;
}

.navbar-brand.ml-5.mr-5.active {
  font-size: 0em;
}

@media (max-width: 991px) {
  a.navbar-brand.ml-5.mr-5 {
    margin: 0 !important;
  }
}