<div class="modal fade"
     id="WifiModal"
     role="dialog"
     aria-hidden="true"
     data-backdrop="static"
     data-keyBoerd="false">
  <div class="modal-dialog"
       role="document">
    <div class="modal-content">

      <div class="modal-header text-center">
        <h5 class="modal-title">Wifi modal</h5>
        <button type="button"
                class="close"
                (click)="closeModal()">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>

      <div class="modal-body">
        <div *ngIf="dataIsReady && !loading">
          <!--    <div class="row justify-content-center"> -->
          <!--   <table class="table">
            <thead>
              <tr>
                <th scope="col">Wifi name</th>
                <th scope="col">Powerful</th>
                <th scope="col"></th>
              </tr>
            </thead>
            <tbody>
              <ng-container *ngFor="let item of wifiConnections">
                <tr (click)="expendedRow(item)"
                    class="pointer"
                    [ngClass]="{'connectedWifi':item.status}">
                  <td>{{item.wifiName}}</td>
                  <td>{{item.powerful}}</td>
                  <td *ngIf="!item.status"> <button type="button"
                            class="btn btn-secondary"
                            (click)="expendedRow(item)"
                            [hidden]="item.expanded">login</button></td>
                  <td *ngIf="item.status"> <button type="button"
                            class="btn btn-primery"
                            (click)="expendedRow(item)"
                            [hidden]="item.expanded">finish</button></td>
                </tr>
                <div *ngIf="item.expanded && !item.status"
                     class="row justify-content-center wifiBoxStyle">
                  <div class="col-12">
                    <label>Password:</label>
                    <input type="text"
                           class="form-control"
                           [(ngModel)]="item.password">
                    <button (click)="connectToWifi()"
                            class="btn btn-secondary float-right wifi-connect-button"
                            [disabled]="!item.password">Connect</button>
                  </div>
                </div>

                <div *ngIf="item.expanded && item.status">
                  <button (click)="disConnect()"
                          class="btn btn-secondary float-right">Disconnected</button>
                </div>
              </ng-container>



            </tbody>
          </table> -->
          <!--  </div> -->






          <!-- border-top: 1px solid #dee2e6;-->
          <div class="row justify-content-center">
            <div class="col-11">

              <!-- Title -->
              <div class="row justify-content-center">
                <div class="col-6">Wifi name</div>
                <div class="col-3">Powerful</div>
                <div class="col-3"></div>
              </div>

              <ng-container *ngFor="let item of wifiConnections">
                <div (click)="expendedRow(item)"
                     class="row justify-content-center pointer rowAsTable"
                     [ngClass]="{'connectedWifi':item.status, 'homeNetwork':item.homeNetwork}">
                  <div class="col-6">{{item.homeNetwork ? item.wifiName+"- (home network)" : item.wifiName}} </div>
                  <div class="col-3">{{item.powerful}}</div>
                  <div class="col-3"
                       *ngIf="!item.status">
                    <button type="button"
                            class="btn btn-secondary"
                            (click)="expendedRow(item)"
                            [hidden]="item.expanded">login</button>
                  </div>
                  <div class="col-3"
                       *ngIf="item.status">
                    <button type="button"
                            class="btn btn-primery"
                            (click)="expendedRow(item)"
                            [hidden]="item.expanded">finish</button></div>
                </div>
                <div *ngIf="item.expanded && !item.status"
                     class="row justify-content-center">
                  <div class="col-10 col-md-8">
                    <label>Password:</label>
                    <input type="text"
                           class="form-control"
                           [(ngModel)]="item.password">
                    <button (click)="connectToWifi()"
                            class="btn btn-secondary float-right wifi-connect-button"
                            [disabled]="!item.password">Connect</button>
                  </div>
                </div>

                <div *ngIf="item.expanded && item.status"
                     class="d-flex justify-content-end">
                  <button (click)="disConnect()"
                          class="btn btn-secondary float-right">Disconnected</button>
                </div>
              </ng-container>


            </div>
          </div>

        </div>
        <div *ngIf="!dataIsReady || loading">
          <div class="loader"></div>
        </div>
      </div>

      <div class="modal-footer">
        <button type="button"
                class="btn btn-secondary"
                (click)="closeModal()">Close</button>
      </div>
    </div>
  </div>
</div>