.connectedWifi {
    background-color: aquamarine;
}

.homeNetwork {
    background-color: #7fd6ff;
}

.wifi-connect-button {
    margin-top: 8px;
}

.rowAsTable {
    border-top: 1px solid #dee2e6;
    margin-top: 2px;
    margin-bottom: 2px;
}