.translate-btn {
    position: fixed;
    top: 65px;
    z-index: 5;
    right: 0px;
    text-align: center;
    padding: 5px 20px;
    line-height: 1.428571429;
    border: none;
    border-radius: 25px;
    border-top-right-radius: 0px;
    border-bottom-right-radius: 0px;
    cursor: pointer;
    transition-duration: 0.1s;
    background:rgba(34, 34, 34, 0.7);
    color: white;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.4);
}

.translate-btn:hover  {
    outline: none;
    background: white;
    color: #222;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.4);
    transition-duration: 0.5s;
}

.translate-btn:focus {
    outline: none;
}

.choose-lang {
    z-index: 9;
    position: fixed;
    right: -260px;
    width: 250px;
    top: 96px;
    white-space: nowrap;
    transition-duration: 0.7s;
    text-align: center;
    color: white;
    background: rgba(34, 34, 34, 0.95);
    border-radius: 10px 0 0 10px;
    box-shadow: 0px 0px 10px black;
}

.choose-lang ul {
    list-style-type: none;
    padding-left: 0;
    margin-top: 6px;
}

.choose-lang li>a {
    display: block;
    padding-top: 10px;
    padding-bottom: 10px;
    text-decoration: none;
    color: white;
    font-size: 1.2em;
    cursor: pointer;
    font-weight: bold;
}

.choose-lang li>a:hover {
    background-color: white;
    color: #222;
    transition-duration: 0.3s;
}


/* disable blurry affect */
img {
    image-rendering: auto;
    image-rendering: crisp-edges;
    image-rendering: pixelated;
  }

