<div id="translate-wrapper" class="d-md-block ">
  <!-- d-none -->
  <button type="button" class="btn translate-btn hidden-xs" (click)="openOrCloseTranslateMenu()">
    <img alt="" [src]="flagsImages[currentLang]" width="28">
  </button>

  <div class="choose-lang">
    <ul>
      <li>
        <a id="he" (click)="switchLanguage('he')">
          <img src="../../../assets/flags/israel.png" width="30"> עברית</a>
      </li>
      <li>
        <a id="en" (click)="switchLanguage('en')">
          <img src="../../../assets/flags/usa.png" width="30"> English</a>
      </li>
    </ul>
  </div>
</div>