<!-- Modal -->
<div class="modal fade"
     id="textFilesModal"
     role="dialog"
     aria-hidden="true"
     data-backdrop="static"
     data-keyBoerd="false">
  <div class="modal-dialog modal-lg"
       role="document">
    <div class="modal-content">
      <div class="modal-header  text-center">
        <h5 class="modal-title">Edit sign data
        </h5>
        <button type="button"
                class="close"
                (click)="closeModal()">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>

      <div class="modal-body">

        <div *ngIf="dataIsReady && !loading">


          <div class="row justify-content-center">
            <div class="col-2 col-md-2 text-center">
              <i class="fas fa-plus-circle fa-2x plusIconStyle"
                 (click)="openAddRowModal()"></i>
            </div>
          </div>




          <div [sortablejs]="screanListData"
               [sortablejsOptions]="options"
               class="list-item">

            <div class="item-content"
                 *ngFor="let item of screanListData;let i = index;">

              <div class="row justify-content-center">
                <div class="col-12 col-md-8">
                  <div class="card bg-light text-dark"
                       id="rowCard_{{i}}"
                       *ngIf="item.type == 'Text'">
                    <i class="fas fa-expand-arrows-alt dragIconStyle handle"></i>
                    <div class="row justify-content-center card-body cardBodyStyle"
                         (click)="clickOpenCloseCard(item,i)">

                      <label class="col-4 col-md-3 textTitleStyle">Text:</label>
                      <label class="col-4 secoundTextStyle">{{item.text | cutTextPipe}}</label>
                      <i class="col-1 fa-2x fas fa-minus-circle minusIconStyle"
                         (click)="deleteRow(i)"></i>

                    </div>
                  </div>

                  <div class="card bg-light text-dark"
                       id="rowCard_{{i}}"
                       *ngIf="item.type == 'Image'">
                    <i class="fas fa-expand-arrows-alt dragIconStyle handle"></i>
                    <div class="row justify-content-center card-body cardBodyStyle"
                         (click)="clickOpenCloseCard(item,i)">

                      <label class="col-4 col-md-3 textTitleStyle">Image:</label>
                      <img class="col-4 imageListStyle"
                           [src]="item.image ? item.image : '../../../../../assets/images/noImage.jpg'">
                      <i class="col-1 fa-2x fas fa-minus-circle minusIconStyle"
                         (click)="deleteRow(i)"></i>

                    </div>
                  </div>

                  <div class="card bg-light text-dark"
                       id="rowCard_{{i}}"
                       *ngIf="item.type == 'Video'">
                    <i class="fas fa-expand-arrows-alt dragIconStyle handle"></i>
                    <div class="row justify-content-center card-body cardBodyStyle"
                         (click)="clickOpenCloseCard(item,i)">

                      <label class="col-4 col-md-3 textTitleStyle">Video:</label>
                      <video class="col-4 imageListStyle"
                             id="videoId"
                             [src]="item.video ? item.video: '../../../../../assets/images/noVideo.png'"></video>
                      <i class="col-1 fa-2x fas fa-minus-circle minusIconStyle"
                         (click)="deleteRow(i)"></i>

                    </div>
                  </div>
                </div>
              </div>

              <div *ngIf="item['showItemCard']"
                   class="cardStyle">
                <div class="row justify-content-center">
                  <div class="col-11 col-md-6">
                    <div class="card">


                      <textarea *ngIf="item.type=='Text'"
                                class="form-control textareaStyle"
                                name="textInSign"
                                [(ngModel)]="item.text"
                                maxro></textarea>


                      <img *ngIf="item.type=='Image'"
                           [src]="item.image ? item.image : '../../../../../assets/images/noImage.jpg'"
                           (click)="openUploadFile('image')"
                           class="image-holder imgCardStyle">
                      <input type="file"
                             (change)="addImageUpload($event ,i)"
                             style="display:none"
                             id="fileImageInput"
                             name="fileImagedata"
                             accept="image/*" />


                      <video *ngIf="item.type=='Video'"
                             [src]="item.video ? item.video: '../../../../../assets/images/noVideo.png'"
                             class="imgCardStyle"
                             (click)="openUploadFile('video')"></video>
                      <input type="file"
                             (change)="addVideoUpload($event ,i)"
                             style="display:none"
                             id="fileVideoInput"
                             name="fileVideodata"
                             accept="video/*" />

                      <div class="card-body">

                        <div *ngIf="item.type=='Text'"
                             class="row justify-content-center">
                          <div class="col-6 col-md-6">
                            <label>Font:</label>
                            <select name="font{{i}}"
                                    [(ngModel)]="item.font"
                                    id="font{{i}}"
                                    class="form-control">
                              <option>serif</option>
                              <option>cursive</option>
                              <option>fantasy</option>
                            </select>
                          </div>

                          <div class="col-6 col-md-6">
                            <label>size (px):</label>
                            <input type="number"
                                   [(ngModel)]="item.fontSize"
                                   class="form-control"
                                   name="font-size{{i}}"
                                   id="font-size{{i}}">
                          </div>

                          <div class="col-6 col-md-6">
                            <label>Color:</label>
                            <input type="color"
                                   [(ngModel)]="item.color"
                                   name="text-color{{i}}"
                                   id="text-color{{i}}"
                                   class="form-control">
                          </div>
                        </div>

                        <div class="row justify-content-center">
                          <div class="col-6 col-md-6">
                            <label>Enter effect:</label>
                            <select name="enterAnimation{{i}}"
                                    [(ngModel)]="item.entranceAnimationType"
                                    id="enterAnimation{{i}}"
                                    class="form-control">
                              <option>normal</option>
                              <option value="ltr">left to right</option>
                              <option value="rtl">right to left</option>
                            </select>
                          </div>

                          <div class="col-6 col-md-6">
                            <label>Duration:</label>
                            <select name="enterAnimationDuration{{i}}"
                                    [(ngModel)]="item.entranceAnimationDuration"
                                    id="enterAnimationDuration{{i}}"
                                    class="form-control">
                              <option *ngFor="let duration of durationList"
                                      value="{{duration}}">{{duration}}</option>
                            </select>
                          </div>

                          <div class="col-6 col-md-6">
                            <label>Exit &nbsp; effect:</label>
                            <select name="exitAnimation{{i}}"
                                    [(ngModel)]="item.exitAnimationType"
                                    id="exitAnimation{{i}}"
                                    class="form-control">
                              <option>normal</option>
                              <option value="ltr">left to right</option>
                              <option value="rtl">right to left</option>
                            </select>
                          </div>
                          <div class="col-6 col-md-6">
                            <label>Duration:</label>
                            <select name="exitAnimationDuration{{i}}"
                                    [(ngModel)]="item.exitAnimationDuration"
                                    id="exitAnimationDuration{{i}}"
                                    class="form-control">
                              <option *ngFor="let duration of durationList"
                                      value="{{duration}}">{{duration}}</option>
                            </select>
                          </div>
                        </div>

                        <div class="row justify-content-center">
                          <div class="col-6 col-md-6">
                            <label>Duration:</label>
                            <input type="number"
                                   class="form-control"
                                   name="duration{{i}}"
                                   id="duration{{i}}"
                                   [(ngModel)]="item.duration">
                            <!--  <select [(ngModel)]="item.duration"
                                  class="form-control"
                                  name="duration{{i}}"
                                  id="duration{{i}}">
                            <option *ngFor="let duration of durationList"
                                    value="{{duration}}">{{duration}}</option>
                          </select> -->
                          </div>

                          <div class="col-6 col-md-6">
                            <label>Queue:</label>
                            <select [(ngModel)]="item.queue"
                                    (change)="updateQueue(i)"
                                    class="form-control"
                                    name="Queue{{i}}"
                                    id="Queue{{i}}">
                              <option *ngFor="let queue of queueList"
                                      value="{{queue}}">{{queue}}</option>
                            </select>
                          </div>
                        </div>


                      </div>
                    </div>
                  </div>
                </div>

              </div>
              <br>
            </div>



            <!--    <p-tabMenu [model]="items"
                   [activeItem]="selectedTitle"
                   (click)="changeTab($event)"></p-tabMenu>


        <div *ngIf="selectedTitle.label == 'Text'">
          <i class="fas fa-plus-circle fa-2x plusIconStyle"
             (click)="addTextRow()"></i>
          <div class="table-responsive">
            <table class="table table-hover">
              <tbody>
                <tr *ngFor="let text of texts; let i = index">
                  <div class="row justify-content-center">
                    <div class="col-12">
                      <label>Content:
                        <i class="fas fa-minus-circle minusIconStyle"
                           (click)="deleteTextRow(text.id)"></i>
                      </label>
                      <textarea class="form-control"
                                name="textInSign"
                                [(ngModel)]="text.text"
                                rows="2"></textarea>
                    </div>

                    <div class="col-3">
                      <label>Font:</label>
                      <select name="font{{i}}"
                              [(ngModel)]="text.font"
                              id="font{{i}}"
                              class="form-control">
                        <option>serif</option>
                        <option>cursive</option>
                        <option>fantasy</option>
                      </select>
                    </div>
                    <div class="col-3">
                      <label>size (px):</label>

                      <input type="number"
                             [(ngModel)]="text.fontSize"
                             class="form-control"
                             name="font-size{{i}}"
                             id="font-size{{i}}">
                    </div>
                    <div class="col-3">
                      <label>Color:</label>
                      <input type="color"
                             [(ngModel)]="text.color"
                             name="text-color{{i}}"
                             id="text-color{{i}}"
                             class="form-control">
                    </div>
                    <div class="col-3">
                      <label>Duration:</label>
                      <input type="number"
                             [(ngModel)]="text.duration"
                             class="form-control"
                             name="duration{{i}}"
                             id="duration{{i}}">
                    </div>

                    <div class="col-3">
                      <label>Entrance effect: {{text.entranceAnimationType}}</label>
                      <select name="enterAnimation{{i}}"
                              [(ngModel)]="text.entranceAnimationType"
                              id="enterAnimation{{i}}"
                              class="form-control">
                        <option>normal</option>
                        <option value="ltr">left to right</option>
                        <option value="rtl">right to left</option>
                      </select>
                    </div>
                    <div class="col-3">
                      <label>Duration:</label>
                      <input type="number"
                             name="enterAnimationDuration{{i}}"
                             [(ngModel)]="text.entranceAnimationDuration"
                             id="enterAnimationDuration{{i}}"
                             class="form-control">
                    </div>

                    <div class="col-3">
                      <label>Exit effect:</label>
                      <select name="exitAnimation{{i}}"
                              [(ngModel)]="text.exitAnimationType"
                              id="exitAnimation{{i}}"
                              class="form-control">
                        <option>normal</option>
                        <option value="ltr">left to right</option>
                        <option value="rtl">right to left</option>
                      </select>
                    </div>
                    <div class="col-3">
                      <label>Duration:</label>
                      <input type="number"
                             name="exitAnimationDuration{{i}}"
                             [(ngModel)]="text.exitAnimationDuration"
                             id="exitAnimationDuration{{i}}"
                             class="form-control">
                    </div>

                    <div class="col-3">
                      <label>Queue:</label>
                      <input type="number"
                             [(ngModel)]="text.queue"
                             class="form-control"
                             name="font-size{{i}}"
                             id="font-size{{i}}">
                    </div>
                  </div>
                </tr>
              </tbody>
            </table>
          </div>


         <div class="text-center">
            <i class="fas fa-plus-circle fa-2x plusIconStyle"
               (click)="addTextRow()"></i></div>

          <div class="row justify-content-center textRowStyle"
               *ngFor="let text of texts">
            <div class="col-10 col-md-6">
              <textarea class="form-control"
                        name="textInSign"
                        [(ngModel)]="text.text"
                        rows="2"></textarea>
            </div>

            <div class="col-8 col-md-5 disdplay-style selectedDurationStyleForPhoneScreen">
              <p-dropdown [options]="durationSelect"
                          [(ngModel)]="text.duration"
                          placeholder="Select a time"
                          [group]="true">
                <ng-template let-group
                             pTemplate="group">
                  <span style="margin-left:.25em">{{group.label}}</span>
                </ng-template>
              </p-dropdown>
            </div>

            <div class="col-1 col-md-1 minusIconStyleForPhoneScreen">
              <i class="fas fa-minus-circle minusIconStyle"
                 (click)="deleteTextRow(text.id)"></i>
            </div>
          </div>
        </div>

  
        <div *ngIf="selectedTitle.label == 'Image'">
          <br>
          <div class="row justify-content-center">
            <div class="col-10 col-md-10">
              <p-fileUpload name="uploadImage"
                            multiple="multiple"
                            accept="image/*"
                            maxFileSize="5000000"
                            [showUploadButton]="false"
                            (onSelect)="addImageUpload($event)">
                <ng-template pTemplate="content">
                  <ul *ngIf="this.images.length"
                      class="movePointFromUl">
                    <li *ngFor="let file of this.images">
                      <div class="ng-star-inserted">
                        <div class="ui-fileupload-row ng-star-inserted">
                          <div>
                            <img [src]="file.image"
                                 width="50"
                                 class="ng-star-inserted">
                          </div>
                          <div> {{file.name}}</div>
                          <div>
                            <button icon="pi pi-times"
                                    pbutton=""
                                    type="button"
                                    ng-reflect-icon="pi pi-times"
                                    class="ui-button ui-widget ui-state-default ui-corner-all ui-button-icon-only"
                                    (click)="removeImage(file)">
                              <span aria-hidden="true"
                                    class="ui-button-icon-left ui-clickable pi pi-times"></span>
                              <span class="ui-button-text ui-clickable">ui-btn</span></button></div>
                        </div>
                      </div>
                    </li>
                  </ul>
                </ng-template>
              </p-fileUpload>
            </div>
            <ng-container *ngIf="images.length">

              <div class="col-3">
                <label>Entrance effect: {{images[0].entranceAnimationType}}</label>
                <select name="enterAnimation{{1}}"
                        [(ngModel)]="images[0].entranceAnimationType"
                        id="enterAnimation{{1}}"
                        class="form-control">
                  <option>normal</option>
                  <option value="ltr">left to right</option>
                  <option value="rtl">right to left</option>
                </select>
              </div>
              <div class="col-3">
                <label>Duration:</label>
                <input type="number"
                       name="enterAnimationDuration{{1}}"
                       [(ngModel)]="images[0].entranceAnimationDuration"
                       id="enterAnimationDuration{{1}}"
                       class="form-control">
              </div>

              <div class="col-3">
                <label>Exit effect:</label>
                <select name="exitAnimation{{1}}"
                        [(ngModel)]="images[0].exitAnimationType"
                        id="exitAnimation{{1}}"
                        class="form-control">
                  <option>normal</option>
                  <option value="ltr">left to right</option>
                  <option value="rtl">right to left</option>
                </select>
              </div>
              <div class="col-3">
                <label>Duration:</label>
                <input type="number"
                       name="exitAnimationDuration{{1}}"
                       [(ngModel)]="images[0].exitAnimationDuration"
                       id="exitAnimationDuration{{1}}"
                       class="form-control">
              </div>

              <div class="col-3">
                <label>Duration:</label>
                <input type="number"
                       [(ngModel)]="images[0].duration"
                       class="form-control"
                       name="duration{{1}}"
                       id="duration{{1}}">
              </div>
              <div class="col-3">
                <label>Queue:</label>
                <input type="number"
                       [(ngModel)]="images[0].queue"
                       class="form-control"
                       name="font-size{{1}}"
                       id="font-size{{1}}">
              </div>
            </ng-container>
          </div>
        </div>

   
        <div *ngIf="selectedTitle.label == 'Video'">
          <br>
          <div class="row justify-content-center">
            <div class="col-10 col-md-10">
              <p-fileUpload name="uploadVideo"
                            multiple="multiple"
                            accept="video/*"
                            maxFileSize="10000000"
                            [showUploadButton]="false"
                            (onSelect)="addVideoUpload($event)">
                <ng-template pTemplate="content">
                  <ul *ngIf="this.videos.length"
                      class="movePointFromUl">
                    <li *ngFor="let file of this.videos">
                      <div class="ui-fileupload-files ng-star-inserted">
                        <div class="ng-star-inserted">
                          <div class="ui-fileupload-row ng-star-inserted">
                            <div></div>
                            <div>{{file.name}}</div>
                            <div>
                              <button icon="pi pi-times"
                                      pbutton=""
                                      type="button"
                                      ng-reflect-icon="pi pi-times"
                                      class="ui-button ui-widget ui-state-default ui-corner-all ui-button-icon-only"
                                      (click)="removeVideo(file)">
                                <span aria-hidden="true"
                                      class="ui-button-icon-left ui-clickable pi pi-times"></span>
                                <span class="ui-button-text ui-clickable">ui-btn</span>
                              </button>
                            </div>
                          </div>
                        </div>
                      </div>
                    </li>
                  </ul>
                </ng-template>
              </p-fileUpload>
            </div>

          </div>
        </div> -->


          </div>
        </div>

        <div *ngIf="!dataIsReady || loading"
             class="loader">
        </div>
      </div>

      <div class="modal-footer">
        <button type="button"
                class="btn btn-secondary"
                (click)="closeModal()">Close</button>
        <button type="button"
                class="btn btn-primary"
                (click)="saveChanges()"
                [disabled]="!dataIsReady || loading">Save data</button>

        <a id="downloadData"
           style="display:none"></a>

      </div>
    </div>
  </div>
</div>




<!-- Modal -->
<div id="addRowModal"
     class="modal fade"
     data-backdrop="static"
     role="dialog">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header text-center">
        <button type="button"
                class="close"
                (click)="addRow(null)">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="card-content clearfix">
          <div class="row justify-content-center">
            <div class="col-3">
              <button class="btn btn-outline-info"
                      (click)="addRow('Text')">Text</button>
            </div>
          </div>
          <br>
          <div class="row justify-content-center">
            <div class="col-3">
              <button class="btn btn-outline-info"
                      (click)="addRow('Image')">Image</button>
            </div>
          </div>
          <br>
          <div class="row justify-content-center">
            <div class="col-3">
              <button class="btn btn-outline-info"
                      (click)="addRow('Video')">Video</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>