.plusIconStyle {
    cursor: pointer;
    padding-top: 5px;
}

.textRowStyle {
    padding-bottom: 10px;
}

.minusIconStyle {
    cursor: pointer;
}


@media only screen and (max-width: 640px) {
    .selectedDurationStyleForPhoneScreen {
        padding-top: 10px;
    }

    .minusIconStyleForPhoneScreen {
        padding-left: 0px;
        padding-top: 18px;
    }
}

.movePointFromUl {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.divSmallStyle {
    display: table-cell;
    padding: .5em 1em;
    vertical-align: middle;
}

.buttonRemoveButton {
    margin: 0;
    color: #ffffff;
    background-color: #007ad9;
    border: 1px solid #007ad9;
    font-size: 14px;
    transition: background-color 0.2s, box-shadow 0.2s;
}

.closeIcon {
    top: 50%;
    left: 50%;
    margin-top: -.5em;
    margin-left: -.5em;
    width: 1em;
    height: 1em;
}


.cardBodyStyle {
    cursor: pointer;

    padding-top: 5px;
    padding-bottom: 5px;
    padding-right: 5px;
    padding-left: 5px;

}

.cardStyle {
    margin-top: 10px;
}

.imgCardStyle {
    cursor: pointer;
    height: 250px;
}

.imageListStyle {
    height: 30px;
}

.dragIconStyle {
    margin-left: 12px;
    margin-top: 12px;
    position: absolute;
    font-size: large;
}

.textTitleStyle {
    font-size: large;
    margin-bottom: 0px !important;
    padding-top: 6px;
}

.secoundTextStyle {
    margin-bottom: 0px;
    padding-top: 8px;
}

.textareaStyle {
    border-top-width: 0px;
}



.modal {
    overflow-y: auto;
}


.handle {
    cursor: move;
    cursor: -webkit-grabbing;
}