<br><br>
<div class="d-flex justify-content-center">
  <div class="col-12 col-md-6">


    <!-- ############################# -->
    <!--        personal details       -->
    <!-- ############################# -->
    <form class="form box-background"
          role="form"
          #personalDetailsForm="ngForm"
          (ngSubmit)="updateDetails()">

      <div class="">
        <h3 class="text-center">Personal details</h3>
        <hr>
      </div>

      <div class="form-group row justify-content-center">
        <label class="col-10 col-md-2 col-form-label form-control-label">First name:</label>
        <div class=" col-10 col-md-8">
          <input class="form-control"
                 type="text"
                 name="firstName"
                 placeholder="firstName"
                 [(ngModel)]="personalDetails.firstName">
        </div>
      </div>

      <div class="form-group row justify-content-center">
        <label class="col-10 col-md-2 col-form-label form-control-label">Last name:</label>
        <div class="col-10 col-md-8">
          <input class="form-control"
                 type="text"
                 placeholder="lastName"
                 name="lastName"
                 [(ngModel)]="personalDetails.lastName">
        </div>
      </div>

      <div class="form-group row justify-content-center">
        <label class="col-10 col-md-2 col-form-label form-control-label">Email:</label>
        <div class="col-10 col-md-8">
          <input class="form-control"
                 type="email"
                 placeholder="email@gmail.com"
                 name="email"
                 [(ngModel)]="personalDetails.email">
        </div>
      </div>

      <div class="form-group row justify-content-center">
        <label class="col-10 col-md-2 col-form-label form-control-label">Phone:</label>
        <div class="col-10 col-md-8">
          <input class="form-control"
                 type="text"
                 placeholder="phone"
                 name="phone"
                 [(ngModel)]="personalDetails.phone">
        </div>
      </div>

      <div class="form-group row justify-content-center">
        <div class="col-10 col-md-10 buttonSaveStyle">
          <button pButton
                  class="ui-button-rounded textSize"
                  type="submit"
                  label="עדכן נתונים"
                  [disabled]="!personalDetailsForm.form.valid"></button>
        </div>
      </div>
    </form>



    <!-- ###################### -->
    <!--        the house       -->
    <!-- ###################### -->
    <form class="form box-background"
          role="form"
          #houseDetails="ngForm"
          (ngSubmit)="updateDetails()">

      <div class="">
        <h3 class="text-center">The house</h3>
        <hr>
      </div>

      <div class="form-group row justify-content-center">
        <label class="col-10 col-md-2 col-form-label form-control-label">קומה:</label>
        <div class="col-10 col-md-8">
          <input class="form-control"
                 type="email"
                 placeholder="floor"
                 name="floor"
                 [(ngModel)]="personalDetails.floor">
        </div>
      </div>

      <div class="form-group row justify-content-center">
        <label class="col-10 col-md-2 col-form-label form-control-label">דירה:</label>
        <div class="col-10 col-md-8">
          <input class="form-control"
                 type="text"
                 placeholder="appartment"
                 name="appartment"
                 [(ngModel)]="personalDetails.apartment">
        </div>
      </div>

      <div class="form-group row justify-content-center">
        <div class="col-10 col-md-10 buttonSaveStyle">
          <button pButton
                  class="ui-button-rounded textSize"
                  type="submit"
                  label="עדכן נתונים"
                  [disabled]="!houseDetails.form.valid"></button>
        </div>
      </div>
    </form>



    <!-- ############################### -->
    <!--        connection details       -->
    <!-- ############################### -->
    <form class="form box-background"
          role="form"
          #connectionDeatils="ngForm"
          (ngSubmit)="updateDetails()">

      <div class="">
        <h3 class="text-center">Connection</h3>
        <hr>
      </div>


      <div class="form-group row justify-content-center">
        <label class="col-10 col-md-2 col-form-label form-control-label">שם משתמש:</label>
        <div class="col-10 col-md-8">
          <input class="form-control"
                 type="text"
                 placeholder="userName"
                 name="userName"
                 [(ngModel)]="personalDetails.userName"
                 required
                 #userName="ngModel">
          <div *ngIf="userName.invalid && (userName.dirty || userName.touched)"
               class="alert alert-danger new-allert-denger-style">
            <div *ngIf="userName.errors.required"
                 translate>
              must to be user name to update data
            </div>
          </div>
        </div>
      </div>
      <div class="form-group row justify-content-center">
        <label class="col-10 col-md-2 col-form-label form-control-label">סיסמא:</label>
        <div class="col-10 col-md-8">
          <input class="form-control"
                 type="password"
                 placeholder="password"
                 name="password"
                 [(ngModel)]="personalDetails.password"
                 required
                 #passord="ngModel">
          <div *ngIf="passord.invalid && (passord.dirty || passord.touched)"
               class="alert alert-danger new-allert-denger-style">
            <div *ngIf="passord.errors.required"
                 translate>
              must to be password to update data
            </div>
          </div>
        </div>
      </div>
      <div class="form-group row justify-content-center">
        <label class="col-10 col-md-2 col-form-label form-control-label">סיסמא שוב:</label>
        <div class="col-10 col-md-8">
          <input class="form-control"
                 type="password"
                 placeholder="passwordSecond"
                 name="passwordSecond"
                 [(ngModel)]="personalDetails.passwordSecond"
                 required
                 #password2="ngModel">
          <div *ngIf="password2.invalid && (password2.dirty || password2.touched)"
               class="alert alert-danger new-allert-denger-style">
            <div *ngIf="password2.errors.required"
                 translate>
              must to be passord to update data
            </div>
          </div>
        </div>
      </div>

      <div class="form-group row justify-content-center">
        <div class="col-10 col-md-10 buttonSaveStyle">
          <button pButton
                  class="ui-button-rounded textSize"
                  type="submit"
                  label="עדכן נתונים"
                  [disabled]="!connectionDeatils.form.valid"></button>
        </div>
      </div>
    </form>
  </div>
</div>

<app-loading-page *ngIf="loadingPage"></app-loading-page>