h3,
label {
    color: aliceblue;
}

hr {
    background-color: red;
    height: 1px;
    border: 5px;
}

form {
    padding-bottom: 1px;
    padding-top: 5px;
    margin-bottom: 20px;
}


.buttonSaveStyle {
    justify-content: flex-end;
}

.textSize {
    font-size: large;
}

.new-allert-denger-style {
    color: #ff0018;
    background-color: #545151;
    border-color: #ff001b;
}


.box-background {
    background-color: rgba(0, 0, 0, 0.5) !important;
    border-radius: 25px;
}