<svg id="signIcon" style="width:100%; height:100%" data-name="Layer 1" xmlns="http://www.w3.org/2000/svg"
      xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 0 2406.5 1454.5">
      <defs>
            <linearGradient id="New_Gradient_Swatch" x1="9" y1="955" x2="864" y2="955" gradientUnits="userSpaceOnUse">
                  <stop offset="0" id="light-color-1" stop-color="#b21f24" />
                  <stop offset="1" id="light-color-2" stop-color="#461313" />
            </linearGradient>
            <linearGradient id="New_Gradient_Swatch-2" x1="1541.5" y1="955.5" x2="2396.5" y2="955.5"
                  xlink:href="#New_Gradient_Swatch" />
            <linearGradient id="New_Gradient_Swatch-3" x1="9" y1="955" x2="864" y2="955" gradientUnits="userSpaceOnUse">
                  <stop offset="0" id="light-color-11" stop-color="#b21f24" />
                  <stop offset="1" id="light-color-22" stop-color="#461313" />
            </linearGradient>
            <linearGradient id="linear-gradient" x1="1863.66" y1="454.09" x2="2023.33" y2="924.28"
                  gradientUnits="userSpaceOnUse">
                  <stop offset="0" stop-color="#fbb03b" stop-opacity="0.4" />
                  <stop offset="1" stop-color="#fff" stop-opacity="0" />
            </linearGradient>
            <linearGradient id="linear-gradient-2" x1="331.16" y1="454.09" x2="490.83" y2="924.28"
                  xlink:href="#linear-gradient" />
            <linearGradient id="linear-gradient-3" x1="1091.61" y1="458.22" x2="1241.56" y2="899.8"
                  gradientUnits="userSpaceOnUse">
                  <stop offset="0" stop-color="#fff" stop-opacity="0.4" />
                  <stop offset="1" stop-color="#fff" stop-opacity="0" />
            </linearGradient>
            <linearGradient id="linear-gradient-4" x1="1170.33" y1="-270.57" x2="1203.86" y2="349.75"
                  gradientUnits="userSpaceOnUse">
                  <stop offset="0" stop-color="#fff" stop-opacity="0.3" />
                  <stop offset="1" stop-color="#fff" stop-opacity="0" />
            </linearGradient>
      </defs>
      <g [ngClass]="{'clickable': clickable}" (click)="onSetColorClicked()">
            <rect class="cls-1" x="9" y="669.5" width="855" height="571" rx="17" />
            <path
                  d="M847,678.5a8.2,8.2,0,0,1,8,8v537a8.2,8.2,0,0,1-8,8H26a8.2,8.2,0,0,1-8-8v-537a8.2,8.2,0,0,1,8-8H847m0-18H26a26.1,26.1,0,0,0-26,26v537a26.1,26.1,0,0,0,26,26H847a26.1,26.1,0,0,0,26-26v-537a26.1,26.1,0,0,0-26-26Z" />
            <path class="cls-5" d="M738.5,654.5l-600,599h695s42,6,39-50v-506s8-44-40-43Z" />
      </g>
      <g [ngClass]="{'clickable': clickable}" (click)="onSetColorClicked()">
            <rect class="cls-2" x="1541.5" y="670" width="855" height="571" rx="17" />
            <path
                  d="M2379.5,679a8.2,8.2,0,0,1,8,8v537a8.2,8.2,0,0,1-8,8h-821a8.2,8.2,0,0,1-8-8V687a8.2,8.2,0,0,1,8-8h821m0-18h-821a26.1,26.1,0,0,0-26,26v537a26.1,26.1,0,0,0,26,26h821a26.1,26.1,0,0,0,26-26V687a26.1,26.1,0,0,0-26-26Z" />
            <path class="cls-4" d="M2271,654.5l-600,599h695s42,6,39-50v-506s8-44-40-43Z" />
      </g>
      <g [ngClass]="{'clickable': clickable}" (click)="onSetBuildingNumClicked()">
            <rect class="cls-3" x="916.5" y="669" width="571" height="571" rx="17" />
            <path
                  d="M1470.5,678a8.2,8.2,0,0,1,8,8v537a8.2,8.2,0,0,1-8,8h-537a8.2,8.2,0,0,1-8-8V686a8.2,8.2,0,0,1,8-8h537m0-18h-537a26.1,26.1,0,0,0-26,26v537a26.1,26.1,0,0,0,26,26h537a26.1,26.1,0,0,0,26-26V686a26.1,26.1,0,0,0-26-26Z" />
            <path class="cls-6" d="M1412.1,667.5,1031,1241.3h441.4s26.7,5.8,24.8-47.9V708.7s5.1-42.1-25.4-41.2Z" />
            <ng-container *ngIf="!buildingNumData.subText">
                  <text id="building-num-content" class="svgIcon-building-content" x="1202" y="954.5" fill="white"
                        font-size="355" dominant-baseline="middle" text-anchor="middle"></text>
            </ng-container>
            <ng-container *ngIf="buildingNumData.subText">
                  <text id="building-num-content" x="1202" y="854.5" fill="white" font-size="355"
                        dominant-baseline="middle" class="svgIcon-building-content" text-anchor="middle"></text>
                  <text id="building-num-content" x="1202" y="1085.5" fill="white" font-size="200"
                        dominant-baseline="middle" class="svgIcon-building-content" text-anchor="middle"></text>
            </ng-container>
      </g>
      <g [ngClass]="{'clickable': clickable}" (click)="onSetTextClicked()">
            <rect class="cls-3" x="10.5" y="10" width="2385" height="601" rx="16" />
            <path
                  d="M2379.5,20a6,6,0,0,1,6,6V595a6,6,0,0,1-6,6H26.5a6,6,0,0,1-6-6V26a6,6,0,0,1,6-6h2353m0-20H26.5A26.1,26.1,0,0,0,.5,26V595a26.1,26.1,0,0,0,26,26h2353a26.1,26.1,0,0,0,26-26V26a26.1,26.1,0,0,0-26-26Z" />
            <path class="cls-7" d="M1965,0,0,621.3H2276.1s137.6,6.2,127.8-51.9V44.6S2430.1-1,2272.9,0Z" />
            <!-- case of 1 row -->
            <ng-container *ngIf="textRowsCount == 1">
                  <text id="text-content" class="svgIcon-text-content" x="1203" y="310" fill="white" font-size="175"
                        dominant-baseline="middle" text-anchor="middle">
                  </text>
            </ng-container>
            <!-- case of 2 rows -->
            <ng-container *ngIf="textRowsCount == 2">
                  <text id="text-content" class="svgIcon-text-content" x="1203" y="210" fill="white" font-size="175"
                        dominant-baseline="middle" text-anchor="middle">
                  </text>
                  <text id="text-content" class="svgIcon-text-content" x="1203" y="485" fill="white" font-size="175"
                        dominant-baseline="middle" text-anchor="middle">
                  </text>
            </ng-container>
            <!-- case of 3 rows -->
            <ng-container *ngIf="textRowsCount == 3">
                  <text id="text-content" class="svgIcon-text-content" x="1203" y="120" fill="white" font-size="175"
                        dominant-baseline="middle" text-anchor="middle">

                  </text>
                  <text id="text-content" class="svgIcon-text-content" x="1203" y="310" fill="white" font-size="175"
                        dominant-baseline="middle" text-anchor="middle">

                  </text>
                  <text id="text-content" class="svgIcon-text-content" x="1203" y="510" fill="white" font-size="175"
                        dominant-baseline="middle" text-anchor="middle">

                  </text>
            </ng-container>

            <image id="image-content" href="" height="580" width="2365" x="21" y="21" />

            <g id="video-content"></g>

            <ng-container *ngIf="lightType == 'B'">
                  <g [ngClass]="{'clickable': clickable}" (click)="onSetColorClicked($event)">
                        <rect class="cls-custom-1" height="580" rx="17" width="555" x="21" y="21"></rect>
                        <path
                              d="M847,678.5a8.2,8.2,0,0,1,8,8v537a8.2,8.2,0,0,1-8,8H26a8.2,8.2,0,0,1-8-8v-537a8.2,8.2,0,0,1,8-8H847m0-18H26a26.1,26.1,0,0,0-26,26v537a26.1,26.1,0,0,0,26,26H847a26.1,26.1,0,0,0,26-26v-537a26.1,26.1,0,0,0-26-26Z" />
                        <path class="cls-5" d="M738.5,654.5l-600,599h695s42,6,39-50v-506s8-44-40-43Z" />
                  </g>
                  <g [ngClass]="{'clickable': clickable}" (click)="onSetColorClicked($event)">
                        <rect class="cls-custom-1" x="1830" y="21" width="555" height="580" rx="17" />
                        <path
                              d="M2379.5,679a8.2,8.2,0,0,1,8,8v537a8.2,8.2,0,0,1-8,8h-821a8.2,8.2,0,0,1-8-8V687a8.2,8.2,0,0,1,8-8h821m0-18h-821a26.1,26.1,0,0,0-26,26v537a26.1,26.1,0,0,0,26,26h821a26.1,26.1,0,0,0,26-26V687a26.1,26.1,0,0,0-26-26Z" />
                        <path class="cls-4" d="M2271,654.5l-600,599h695s42,6,39-50v-506s8-44-40-43Z" />
                  </g>
            </ng-container>

            <ng-container *ngIf="lightType == 'C'">
                  <g [ngClass]="{'clickable': clickable}" (click)="onSetColorClicked($event)">
                        <rect class="cls-custom-1" height="580" rx="17" width="1260" x="570" y="21"></rect>
                        <path
                              d="M847,678.5a8.2,8.2,0,0,1,8,8v537a8.2,8.2,0,0,1-8,8H26a8.2,8.2,0,0,1-8-8v-537a8.2,8.2,0,0,1,8-8H847m0-18H26a26.1,26.1,0,0,0-26,26v537a26.1,26.1,0,0,0,26,26H847a26.1,26.1,0,0,0,26-26v-537a26.1,26.1,0,0,0-26-26Z" />
                        <path class="cls-5" d="M738.5,654.5l-600,599h695s42,6,39-50v-506s8-44-40-43Z" />
                  </g>
            </ng-container>
      </g>

      <rect class="cls-3" x="10.5" y="1282.5" width="2387" height="163" rx="17" />
      <path
            d="M2380.5,1291.5a8.2,8.2,0,0,1,8,8v129a8.2,8.2,0,0,1-8,8H27.5a8.2,8.2,0,0,1-8-8v-129a8.2,8.2,0,0,1,8-8h2353m0-18H27.5a26.1,26.1,0,0,0-26,26v129a26.1,26.1,0,0,0,26,26h2353a26.1,26.1,0,0,0,26-26v-129a26.1,26.1,0,0,0-26-26Z" />
      <circle class="cls-8" cx="100.5" cy="1363.5" r="67" />
      <path class="cls-9"
            d="M184.9,1350.1h21.2v1.2c-4.1.2-6.1,1.8-6.1,4.7s.7,4.5,2.2,9l6.6,20.3,9.3-24.5a14.2,14.2,0,0,0,1.1-4.6c0-3.1-1.9-4.7-5.7-4.9v-1.2h20.9v1.2a8.6,8.6,0,0,0-3.8,1.1,4,4,0,0,0-1.7,3.6,19.5,19.5,0,0,0,1,5.4l7.2,23.9,8.4-21.5a18.9,18.9,0,0,0,1.6-6.4,5.3,5.3,0,0,0-2-4.5,10,10,0,0,0-3.7-1.6v-1.2h16v1.2a6.4,6.4,0,0,0-4.2,1.5,8.4,8.4,0,0,0-2.3,2.8,57,57,0,0,0-2.5,5.6l-1.2,2.8-12.9,32.4h-1.9L220.5,1360l-14.4,36.4h-1.8l-10.9-33-1.3-4c-1.2-3.6-2.5-5.8-3.8-6.8a8.6,8.6,0,0,0-3.4-1.3Z" />
      <path class="cls-9"
            d="M252.7,1350.1h21.2v1.2c-4,.2-6.1,1.8-6.1,4.7s.7,4.5,2.2,9l6.6,20.3,9.3-24.5a14.2,14.2,0,0,0,1.1-4.6c0-3.1-1.9-4.7-5.7-4.9v-1.2h20.9v1.2a8.6,8.6,0,0,0-3.8,1.1,4.2,4.2,0,0,0-1.7,3.6,19.5,19.5,0,0,0,1,5.4l7.2,23.9,8.4-21.5a19.6,19.6,0,0,0,1.7-6.4,5.4,5.4,0,0,0-2.1-4.5,10,10,0,0,0-3.7-1.6v-1.2h16v1.2a6.4,6.4,0,0,0-4.2,1.5,9.8,9.8,0,0,0-2.3,2.8,57,57,0,0,0-2.5,5.6l-1.1,2.8-13,32.4h-1.9L288.3,1360l-14.4,36.4h-1.8l-10.9-33-1.3-4c-1.2-3.6-2.5-5.8-3.7-6.8a9.9,9.9,0,0,0-3.5-1.3Z" />
      <path class="cls-9"
            d="M320.6,1350.1h21.2v1.2c-4.1.2-6.2,1.8-6.2,4.7s.8,4.5,2.2,9l6.6,20.3,9.3-24.5a14.2,14.2,0,0,0,1.1-4.6c0-3.1-1.9-4.7-5.7-4.9v-1.2H370v1.2a9.1,9.1,0,0,0-3.8,1.1,4.2,4.2,0,0,0-1.7,3.6,19.5,19.5,0,0,0,1,5.4l7.2,23.9,8.5-21.5a21.6,21.6,0,0,0,1.6-6.4,5.4,5.4,0,0,0-2.1-4.5,10,10,0,0,0-3.7-1.6v-1.2h16v1.2a6.8,6.8,0,0,0-4.2,1.5,8.3,8.3,0,0,0-2.2,2.8,53.3,53.3,0,0,0-2.6,5.6l-1.1,2.8-13,32.4H368L356.1,1360l-14.3,36.4h-1.9l-10.9-33-1.3-4c-1.2-3.6-2.4-5.8-3.7-6.8a9.3,9.3,0,0,0-3.4-1.3Z" />
      <path class="cls-9"
            d="M403,1384.1a6.7,6.7,0,0,1,0,13.3,6.5,6.5,0,0,1-4.7-2,6.2,6.2,0,0,1-1.9-4.6,6.3,6.3,0,0,1,1.9-4.7A6.5,6.5,0,0,1,403,1384.1Z" />
      <path class="cls-9"
            d="M431,1401l-1,.3a6.5,6.5,0,0,0-1.8-2.1,4.1,4.1,0,0,0-2.3-.6,4.4,4.4,0,0,0-3.7,1.7,6.8,6.8,0,0,0-1.5,4.5c0,3,1.5,5.4,4.4,7.3s6.7,2.8,11.3,2.8,8.8-1,11.8-3.1a9.6,9.6,0,0,0,4.5-8.2,6.9,6.9,0,0,0-3-6.1c-2-1.5-4.8-2.2-8.5-2.2h-8.7c-3.6,0-6.4-.8-8.6-2.5a7.8,7.8,0,0,1-3.4-6.3,6.9,6.9,0,0,1,3.6-6.1c1.2-.8,3.5-1.5,6.8-2.4a17.9,17.9,0,0,1-7.4-5.7,13.4,13.4,0,0,1-2.6-7.9,14.1,14.1,0,0,1,4.1-9.8,16.1,16.1,0,0,1,5.7-3.9,15.5,15.5,0,0,1,6.7-1.4A18.7,18.7,0,0,1,448,1353a21.5,21.5,0,0,1,4.7-2.9,10.5,10.5,0,0,1,4.4-.8,7.1,7.1,0,0,1,4.3,1.1,4.2,4.2,0,0,1,2,3.5,3.2,3.2,0,0,1-.8,2.1,2.6,2.6,0,0,1-1.9.8,4.1,4.1,0,0,1-3.2-1.8l-1.2-1.7a3.8,3.8,0,0,0-3-1.3,6.4,6.4,0,0,0-4.2,2.1,17.4,17.4,0,0,1,4.4,11.1,12.7,12.7,0,0,1-6.3,11.2,17.5,17.5,0,0,1-6.8,2.8l-7,.6c-5.3.3-8,1.8-8,4.4s2.3,3.5,6.8,3.5h9a31.2,31.2,0,0,1,8.1.9,15.6,15.6,0,0,1,5.7,2.6,11.8,11.8,0,0,1,4.8,10,12.7,12.7,0,0,1-5.6,11c-3.8,2.8-9.4,4.1-16.8,4.1s-13.5-1.6-16.8-4.8a10.3,10.3,0,0,1-3.2-7.7,9.1,9.1,0,0,1,2.3-6.2,7.6,7.6,0,0,1,5.8-2.5,5.7,5.7,0,0,1,4,1.5,4.9,4.9,0,0,1,1.5,3.8Zm-2.3-36.2a16.7,16.7,0,0,0,2.5,9.6,7.4,7.4,0,0,0,6.3,3.7,6.8,6.8,0,0,0,6.1-3.7q2.1-3.6,2.1-10.2c0-4.5-.9-8.1-2.8-10.8a6.3,6.3,0,0,0-5.3-2.9q-3.9,0-6.3,3.9a17.8,17.8,0,0,0-1.9,4.8A21,21,0,0,0,428.7,1364.8Z" />
      <path class="cls-9"
            d="M464.5,1373.4c0-5.9,2.2-11.1,6.6-15.8a25.8,25.8,0,0,1,37.9,0,22.5,22.5,0,0,1,.4,31.4,26.5,26.5,0,0,1-38.7,0,24.3,24.3,0,0,1-4.6-7.3A24,24,0,0,1,464.5,1373.4Zm9.9-.6a29.1,29.1,0,0,0,4.3,16c3.2,4.9,7.1,7.4,11.7,7.4a10.8,10.8,0,0,0,5.7-1.7,13.7,13.7,0,0,0,4.8-4.5,27.5,27.5,0,0,0,3.5-7.7,34.8,34.8,0,0,0,1.3-8.9,31.3,31.3,0,0,0-1.4-9,28.3,28.3,0,0,0-3.8-7.8c-2.9-4.1-6.6-6.1-10.9-6.1s-7.7,2.1-10.6,6.4S474.4,1366.5,474.4,1372.8Z" />
      <path class="cls-9"
            d="M520.4,1321.8l15.6-2v64.9a25.1,25.1,0,0,0,.4,5.5,5.7,5.7,0,0,0,1.7,2.8c1,1,2.9,1.7,5.6,2.2v1.2h-24v-1.2a12.4,12.4,0,0,0,4.6-1.2,5.2,5.2,0,0,0,2.3-2.7,12.4,12.4,0,0,0,.9-3.8c.1-1.6.2-4.1.2-7.3v-42.7a68.3,68.3,0,0,0-.3-7.8,6.8,6.8,0,0,0-1.2-3.7,5.2,5.2,0,0,0-2.2-2.2,10.7,10.7,0,0,0-3.7-.8Z" />
      <path class="cls-9"
            d="M585.7,1398.2a26.2,26.2,0,0,1-.6-5.7,31,31,0,0,1-7.6,3.7,23.3,23.3,0,0,1-7.6,1.2,21.6,21.6,0,0,1-14.2-5,19.9,19.9,0,0,1-5.7-7.9,25.9,25.9,0,0,1-2-10.5,28.7,28.7,0,0,1,2.1-11,23.2,23.2,0,0,1,6.1-8.5,22.3,22.3,0,0,1,14.8-5.2,19.2,19.2,0,0,1,7.1,1.2,29.5,29.5,0,0,1,6.8,4.3v-20.1c0-4-.6-6.8-2-8.6s-3.5-2.6-6.5-2.6v-1.3l16.7-2.1v63.1c0,4.1.7,7,2,8.7s3.5,2.6,6.5,2.6v1.4Zm-.8-25.4a78.2,78.2,0,0,0-.6-11.3,16.7,16.7,0,0,0-2.4-6.2,11.6,11.6,0,0,0-9-4.6c-3.9,0-7.2,1.8-10,5.5a24,24,0,0,0-4,7.8,29.2,29.2,0,0,0-1.5,9.3,32.1,32.1,0,0,0,1.4,9.2,25,25,0,0,0,3.7,7.7c2.7,3.7,6,5.5,10,5.5a10.4,10.4,0,0,0,5.4-1.4,10.9,10.9,0,0,0,4.1-3.9,18.4,18.4,0,0,0,2.3-6.5A76,76,0,0,0,584.9,1372.8Z" />
      <path class="cls-9"
            d="M615.5,1366.7q-.3,2.7-.3,3.9a32.2,32.2,0,0,0,1.4,9.3,22,22,0,0,0,3.8,7.5,17.2,17.2,0,0,0,6.1,4.8,16.5,16.5,0,0,0,7.5,1.7,17.3,17.3,0,0,0,5.6-.9,12.3,12.3,0,0,0,4.4-2.8,14.4,14.4,0,0,0,3.3-6.1l1.2.4c-1,4.3-3,7.5-6.1,9.6s-7.2,3.3-12.4,3.3a26.8,26.8,0,0,1-11.5-2.2,20.4,20.4,0,0,1-8.1-6.5c-3.1-4.1-4.6-9.1-4.6-15.1,0-8.2,2.9-14.6,8.7-19.3a22.7,22.7,0,0,1,14.6-5,20.7,20.7,0,0,1,8,1.5,15.9,15.9,0,0,1,6.3,4.5,16.7,16.7,0,0,1,4,11.4Zm23.7-2.1a19.9,19.9,0,0,0-2-8.4,12.1,12.1,0,0,0-3.9-4.2,9.8,9.8,0,0,0-5.2-1.5,10.6,10.6,0,0,0-8.2,4,18,18,0,0,0-4.1,10.1Z" />
      <path class="cls-9"
            d="M669.1,1349.3a24.9,24.9,0,0,1,.7,5.9v.8a22,22,0,0,1,16.1-6.7c4.6,0,8.4,1,11.2,3.2a11,11,0,0,1,4.2,9.2v23a23.8,23.8,0,0,0,.5,5.5,5,5,0,0,0,1.6,2.8c1.1,1,2.9,1.7,5.7,2.2v1.2H685v-1.2a13.1,13.1,0,0,0,4.7-1.2,5.1,5.1,0,0,0,2.2-2.7,12.4,12.4,0,0,0,.9-3.8,69.9,69.9,0,0,0,.2-7.2v-11.6a62.8,62.8,0,0,0-.4-8.7,10.4,10.4,0,0,0-1.5-4.4,8.8,8.8,0,0,0-3.6-3,12.7,12.7,0,0,0-5.2-1.1,13.9,13.9,0,0,0-5.7,1.2,10.4,10.4,0,0,0-4.1,3.3,12.8,12.8,0,0,0-2.2,4.9,62.8,62.8,0,0,0-.5,9.1v14.7a25.1,25.1,0,0,0,.4,5.5,5.7,5.7,0,0,0,1.7,2.8c1,1,2.9,1.7,5.6,2.2v1.2H653.5v-1.2a12.5,12.5,0,0,0,4.7-1.2,5.2,5.2,0,0,0,2.3-2.7,11.6,11.6,0,0,0,.9-3.7c.1-1.7.2-4.1.2-7.3v-13.4a68.3,68.3,0,0,0-.3-7.8,9,9,0,0,0-1.2-3.7,5.8,5.8,0,0,0-2.2-2.2,10.8,10.8,0,0,0-3.8-.8v-1.2Z" />
      <path class="cls-9" d="M711.3,1368.7h24.3v8.1H711.3Z" />
      <path class="cls-9"
            d="M753.9,1349.3a48.8,48.8,0,0,1,1.2,7.5,25.7,25.7,0,0,1,7.7-5.6,21.6,21.6,0,0,1,8.9-1.9,13.4,13.4,0,0,1,8.6,2.6,21.2,21.2,0,0,1,4.7,5.5,30.2,30.2,0,0,1,8.4-6.2,21.1,21.1,0,0,1,9-1.9c4.4,0,7.9,1.1,10.7,3.5a12,12,0,0,1,4.1,9.4v22.5a23.8,23.8,0,0,0,.5,5.5,5.6,5.6,0,0,0,1.6,2.8c1.1,1,3,1.7,5.7,2.2v1.2H800.9v-1.2a11.9,11.9,0,0,0,4.6-1.2,5.9,5.9,0,0,0,2.4-2.7,12.9,12.9,0,0,0,.8-3.8,64.5,64.5,0,0,0,.3-7.2v-10.4a83.4,83.4,0,0,0-.4-8.8,15.1,15.1,0,0,0-1.5-4.8c-1.7-3-4.6-4.6-8.8-4.6s-7.8,1.7-9.8,5-2.6,7.3-2.6,13.4v14.6a33.5,33.5,0,0,0,.4,5.5,5.7,5.7,0,0,0,1.7,2.8c1,1,2.9,1.7,5.6,2.2v1.2h-24v-1.2a12.4,12.4,0,0,0,4.6-1.2,5.7,5.7,0,0,0,2.3-2.7,12.4,12.4,0,0,0,.9-3.8c.1-1.6.2-4.1.2-7.2v-10.1a71.1,71.1,0,0,0-.4-9.3,13.6,13.6,0,0,0-1.5-4.8,8.5,8.5,0,0,0-3.4-3.1,10.1,10.1,0,0,0-4.9-1.1,12.7,12.7,0,0,0-5.8,1.4,11.1,11.1,0,0,0-4.3,4,14.5,14.5,0,0,0-2.1,5.4,44.7,44.7,0,0,0-.6,8.1v13.9a23.8,23.8,0,0,0,.5,5.5,5.1,5.1,0,0,0,1.7,2.8c1,1,2.8,1.7,5.6,2.2v1.2H738.3v-1.2a13.1,13.1,0,0,0,4.7-1.2,5.7,5.7,0,0,0,2.3-2.7,12.9,12.9,0,0,0,.8-3.7c.2-1.7.2-4.2.2-7.4v-13.4a75.7,75.7,0,0,0-.2-7.8,9,9,0,0,0-1.2-3.7,5.4,5.4,0,0,0-2.3-2.2,8.5,8.5,0,0,0-3.7-.8v-1.2Z" />
      <path class="cls-9"
            d="M827.5,1351.2l15.7-1.9v35.5a33.1,33.1,0,0,0,.4,5.4,5.7,5.7,0,0,0,1.7,2.8c1.1,1,2.9,1.7,5.6,2.2v1.2h-24v-1.2a13.7,13.7,0,0,0,4.7-1.2,5.1,5.1,0,0,0,2.2-2.7,11.6,11.6,0,0,0,.9-3.7c.1-1.7.2-4.1.2-7.3v-13.4c0-3.7-.1-6.3-.2-7.8a9,9,0,0,0-1.2-3.7,6.8,6.8,0,0,0-2.3-2.2,10.2,10.2,0,0,0-3.7-.8Zm11.3-21.5a4.8,4.8,0,0,1-3.5-1.4,4.6,4.6,0,0,1-1.4-3.4,4.8,4.8,0,0,1,1.4-3.4,5,5,0,0,1,3.5-1.4,4.8,4.8,0,0,1,3.5,1.4,4.5,4.5,0,0,1,1.5,3.4,4.6,4.6,0,0,1-1.4,3.4A5.1,5.1,0,0,1,838.8,1329.7Z" />
      <path class="cls-9"
            d="M868.7,1349.3a20.9,20.9,0,0,1,.8,5.9v.8a22,22,0,0,1,16.1-6.7c4.6,0,8.4,1,11.2,3.2a11,11,0,0,1,4.2,9.2v23a33.5,33.5,0,0,0,.4,5.5,5.7,5.7,0,0,0,1.7,2.8c1.1,1,2.9,1.7,5.6,2.2v1.2h-24v-1.2a12.4,12.4,0,0,0,4.6-1.2,4.8,4.8,0,0,0,2.3-2.7,12.4,12.4,0,0,0,.9-3.8c.1-1.6.2-4.1.2-7.2v-11.6a62.8,62.8,0,0,0-.4-8.7,11.9,11.9,0,0,0-1.5-4.4,8.8,8.8,0,0,0-3.6-3,12.7,12.7,0,0,0-5.2-1.1,13.9,13.9,0,0,0-5.7,1.2,10.4,10.4,0,0,0-4.1,3.3,12.8,12.8,0,0,0-2.2,4.9,62.8,62.8,0,0,0-.5,9.1v14.7a25.1,25.1,0,0,0,.4,5.5,5.7,5.7,0,0,0,1.7,2.8c1,1,2.9,1.7,5.6,2.2v1.2H853.2v-1.2a12.5,12.5,0,0,0,4.7-1.2,5.2,5.2,0,0,0,2.3-2.7,9.7,9.7,0,0,0,.8-3.7,66.5,66.5,0,0,0,.3-7.3v-13.4a68.3,68.3,0,0,0-.3-7.8,9,9,0,0,0-1.2-3.7,5.8,5.8,0,0,0-2.2-2.2,10.8,10.8,0,0,0-3.8-.8v-1.2Z" />
      <path class="cls-9"
            d="M924.8,1350.1h13.8v2H924.8v31.8c0,3.8.6,6.5,1.9,8.1a8.4,8.4,0,0,0,2.7,2.2,9,9,0,0,0,3.7.7,7.2,7.2,0,0,0,4-1,14.1,14.1,0,0,0,3.6-3.7l.8.7a11.3,11.3,0,0,1-5,4.9,19.5,19.5,0,0,1-8.1,1.6c-4.3,0-7.4-.9-9.4-2.5a6.4,6.4,0,0,1-2-3.2,24.9,24.9,0,0,1-.5-6.5v-33.1h-5.9v-.8a16.3,16.3,0,0,0,6.6-4.4,23.5,23.5,0,0,0,2.9-4,39.7,39.7,0,0,0,2.1-5.2l.5-1.8h2.1Z" />
      <path class="cls-9"
            d="M950.5,1366.7q-.3,2.7-.3,3.9a32.2,32.2,0,0,0,1.4,9.3,22,22,0,0,0,3.8,7.5,17.7,17.7,0,0,0,6,4.8,17.9,17.9,0,0,0,13.2.8,13.3,13.3,0,0,0,4.4-2.8,14.4,14.4,0,0,0,3.3-6.1l1.2.4c-1,4.3-3,7.5-6.1,9.6s-7.2,3.3-12.4,3.3a26.8,26.8,0,0,1-11.5-2.2,20.4,20.4,0,0,1-8.1-6.5c-3.1-4.1-4.6-9.1-4.6-15.1,0-8.2,2.9-14.6,8.7-19.3a22.7,22.7,0,0,1,14.6-5,20.7,20.7,0,0,1,8,1.5,15.9,15.9,0,0,1,6.3,4.5,16.7,16.7,0,0,1,4,11.4Zm23.7-2.1a19.9,19.9,0,0,0-2-8.4,12.1,12.1,0,0,0-3.9-4.2,9.8,9.8,0,0,0-5.2-1.5,10.6,10.6,0,0,0-8.2,4,18,18,0,0,0-4.1,10.1Z" />
      <path class="cls-9"
            d="M992.3,1396.4V1381h.9a28,28,0,0,0,3.8,9c2.8,4.1,6,6.2,9.7,6.2a9.1,9.1,0,0,0,6-2.1,8,8,0,0,0,2.7-6.5,9.6,9.6,0,0,0-2-6,13.1,13.1,0,0,0-2.7-2.5l-5.6-3.2c-4.6-2.4-7.6-4.5-9.1-6.1a11.3,11.3,0,0,1-3.3-8.1,12,12,0,0,1,3.3-8.4c2.5-2.7,5.8-4,10-4a14.4,14.4,0,0,1,5.1.9l1.9.9,1.5.3c.7,0,1.4-.6,2-1.7h1.1l.6,12.4H1017a23.5,23.5,0,0,0-1.3-4.2,10.8,10.8,0,0,0-1.9-3,12.3,12.3,0,0,0-3.9-3.3,9,9,0,0,0-4.4-1.1,6.9,6.9,0,0,0-5.2,2.2,7.3,7.3,0,0,0-2.1,5.4,6.8,6.8,0,0,0,1.9,4.8,18.3,18.3,0,0,0,6,4l5.7,2.6a18.2,18.2,0,0,1,7.7,5.8,13.6,13.6,0,0,1,2.6,8.2,12.9,12.9,0,0,1-3.7,9.5,14.8,14.8,0,0,1-10.9,4.4,21.4,21.4,0,0,1-7.3-1.4l-2.9-1.1H996a3,3,0,0,0-2.8,1.6Z" />
      <path class="cls-9"
            d="M1039.5,1384.1a6.7,6.7,0,0,1,6.5,6.7,6.2,6.2,0,0,1-1.9,4.6,6.4,6.4,0,0,1-9.3,0,6.2,6.2,0,0,1-1.9-4.6,6.3,6.3,0,0,1,1.9-4.7A6.3,6.3,0,0,1,1039.5,1384.1Z" />
      <path class="cls-9"
            d="M1094.6,1386.1l1.1.4a14.9,14.9,0,0,1-5.8,8.3c-2.6,1.7-6.2,2.6-10.8,2.6-7.3,0-13.1-2.2-17.3-6.6a22.9,22.9,0,0,1-6.1-16.2,28.4,28.4,0,0,1,1.7-9.5,23.5,23.5,0,0,1,4.7-8,21.5,21.5,0,0,1,8.1-5.8,25.9,25.9,0,0,1,10.5-2c5.3,0,9.4,1.1,12.4,3.5s2.7,3,2.7,4.8a3.9,3.9,0,0,1-3.9,4.1c-2.4,0-4.1-1.7-5.2-5.2a25.5,25.5,0,0,0-1.2-3.3,6.6,6.6,0,0,0-1.4-1.5,6.9,6.9,0,0,0-4.1-1.2,10.5,10.5,0,0,0-5.9,1.8,13.8,13.8,0,0,0-4.1,3.9,24,24,0,0,0-2.9,6,31.5,31.5,0,0,0-1.9,10.8,25.3,25.3,0,0,0,1.8,9.4,21.7,21.7,0,0,0,4.7,7.8,15,15,0,0,0,11,4.9,11.8,11.8,0,0,0,8.6-3.3A16.4,16.4,0,0,0,1094.6,1386.1Z" />
      <path class="cls-9"
            d="M1101.5,1373.4c0-5.9,2.2-11.1,6.5-15.8a25.9,25.9,0,0,1,38,0,22.5,22.5,0,0,1,6.5,15.8,22.2,22.2,0,0,1-6.2,15.6,26.4,26.4,0,0,1-38.6,0,24.3,24.3,0,0,1-4.6-7.3A21.9,21.9,0,0,1,1101.5,1373.4Zm9.9-.6c0,6.3,1.4,11.6,4.3,16s7.1,7.4,11.7,7.4a11.4,11.4,0,0,0,5.7-1.7,15.7,15.7,0,0,0,4.8-4.5,27.5,27.5,0,0,0,3.4-7.7,30.9,30.9,0,0,0,1.3-8.9,28.2,28.2,0,0,0-1.4-9,25.6,25.6,0,0,0-3.7-7.8c-3-4.1-6.6-6.1-11-6.1s-7.6,2.1-10.6,6.4S1111.4,1366.5,1111.4,1372.8Z" />
      <path class="cls-9"
            d="M1172.3,1349.3a39.3,39.3,0,0,1,1.3,7.5,23.5,23.5,0,0,1,7.7-5.6,20.9,20.9,0,0,1,8.9-1.9,13.3,13.3,0,0,1,8.5,2.6,23.3,23.3,0,0,1,4.8,5.5,28.5,28.5,0,0,1,8.3-6.2,21.2,21.2,0,0,1,9.1-1.9c4.3,0,7.9,1.1,10.6,3.5a12,12,0,0,1,4.1,9.4v22.5a25.1,25.1,0,0,0,.4,5.5,5.6,5.6,0,0,0,1.6,2.8c1.1,1,3,1.7,5.7,2.2v1.2h-24.1v-1.2a12.5,12.5,0,0,0,4.7-1.2,5.7,5.7,0,0,0,2.3-2.7,10.3,10.3,0,0,0,.8-3.8,64.5,64.5,0,0,0,.3-7.2v-10.4a62.6,62.6,0,0,0-.4-8.8,11.3,11.3,0,0,0-1.5-4.8c-1.7-3-4.6-4.6-8.8-4.6s-7.7,1.7-9.7,5-2.7,7.3-2.7,13.4v14.6a23.8,23.8,0,0,0,.5,5.5,5.6,5.6,0,0,0,1.6,2.8c1,1,2.9,1.7,5.7,2.2v1.2H1188v-1.2a13.1,13.1,0,0,0,4.7-1.2,5.7,5.7,0,0,0,2.3-2.7,10.3,10.3,0,0,0,.8-3.8,64.5,64.5,0,0,0,.3-7.2v-10.1c0-4.2-.2-7.3-.4-9.3a11.8,11.8,0,0,0-1.6-4.8,7.9,7.9,0,0,0-3.4-3.1,9.6,9.6,0,0,0-4.9-1.1,13,13,0,0,0-5.8,1.4,11.8,11.8,0,0,0-4.3,4,19,19,0,0,0-2.1,5.4,44.7,44.7,0,0,0-.6,8.1v13.9a25.1,25.1,0,0,0,.4,5.5,5.7,5.7,0,0,0,1.7,2.8c1,1,2.9,1.7,5.6,2.2v1.2h-24.1v-1.2a12.5,12.5,0,0,0,4.7-1.2,5.2,5.2,0,0,0,2.3-2.7,10.2,10.2,0,0,0,.8-3.7,68.6,68.6,0,0,0,.3-7.4v-13.4a68.3,68.3,0,0,0-.3-7.8,9,9,0,0,0-1.2-3.7,5.2,5.2,0,0,0-2.2-2.2,9,9,0,0,0-3.8-.8v-1.2Z" />
      <path class="cls-10"
            d="M1320.4,1370.4c0,7.9-1.2,14.3-3.5,19.1s-7,8.8-12.7,8.8-9.8-2.8-12.5-8.4-3.6-11.3-3.6-19.5,1.3-13.7,3.8-18.8,7-8.8,12.3-8.8,9.7,2.8,12.6,8.5S1320.4,1362.4,1320.4,1370.4Zm-6.2,0c0-14.8-3.3-22.2-10-22.2s-9.9,7.4-9.9,22.2,3.3,22.9,9.9,22.9c4.4,0,7.4-2.8,8.8-8.4C1313.8,1381.9,1314.2,1377.1,1314.2,1370.4Z" />
      <path class="cls-10"
            d="M1361,1382.9q0,7.6-4.8,11.7c-2.9,2.6-6.8,3.8-11.7,3.8s-9.4-1.5-12-4.5a12.7,12.7,0,0,1-3.3-8.9h5.6a9,9,0,0,0,9.2,8.5c7.2,0,10.8-3.4,10.8-10.3s-3.8-11.1-11.4-11.1h-4.9V1367h6.3c5.7,0,8.6-3.2,8.6-9.6s-2.9-9.6-8.6-9.6-7.5,2.1-8.5,6.3h-5.2a10.6,10.6,0,0,1,3.2-7.7q3.9-3.6,11.1-3.6a15.4,15.4,0,0,1,9.7,3.1c2.9,2.5,4.4,6.2,4.4,11a11.9,11.9,0,0,1-2.8,7.8,10.8,10.8,0,0,1-6.7,4.3v.2a13.8,13.8,0,0,1,8,4.8A14.1,14.1,0,0,1,1361,1382.9Z" />
      <path class="cls-10" d="M1392.8,1374.7h-23v-5.3h23Z" />
      <path class="cls-10" d="M1433.3,1344.9l-18.1,52.6h-6.6l17.1-47.8H1403v-5.8h30.3Z" />
      <path class="cls-10" d="M1474.1,1344.9l-18,52.6h-6.6l17.1-47.8h-22.7v-5.8h30.2Z" />
      <path class="cls-10"
            d="M1515.1,1368c0,8.4-1.1,15.2-3.3,20.5s-7.1,9.8-12.8,9.8c-3.9,0-7-1.1-9.3-3.5a10.5,10.5,0,0,1-3.1-7.7h5.2c1.1,4.3,3.6,6.4,7.5,6.4s5.8-2,7.6-6a34.9,34.9,0,0,0,2.2-13.2c0-.6-.1-1.2-.1-1.8v-1.8c-3,4-6.8,6-11.3,6a13.1,13.1,0,0,1-10.2-4.5c-2.7-3-4.1-7.1-4.1-12.3a17.7,17.7,0,0,1,4.4-12.4,15.2,15.2,0,0,1,11.4-4.7Q1515.1,1342.8,1515.1,1368Zm-6.4-8.1c0-8-3.2-12-9.5-12s-9.6,3.8-9.6,11.6,3,12.4,9.1,12.4S1508.7,1367.9,1508.7,1359.9Z" />
      <path class="cls-10"
            d="M1545.6,1397.5h-6.2V1353a44,44,0,0,1-9,.8h-1.5V1350a25.6,25.6,0,0,0,6.2-1.9,15.4,15.4,0,0,0,2.8-1.9,28.3,28.3,0,0,0,3-3h4.7Z" />
      <path class="cls-10"
            d="M1586.4,1397.5h-6.1V1353a44.7,44.7,0,0,1-9,.8h-1.5V1350a27.2,27.2,0,0,0,6.2-1.9,19.8,19.8,0,0,0,2.8-1.9,28.3,28.3,0,0,0,3-3h4.6Z" />
      <path class="cls-10"
            d="M1638,1370.4c0,7.9-1.2,14.3-3.5,19.1s-7,8.8-12.6,8.8-9.9-2.8-12.6-8.4-3.6-11.3-3.6-19.5,1.3-13.7,3.9-18.8,7-8.8,12.3-8.8,9.7,2.8,12.5,8.5S1638,1362.4,1638,1370.4Zm-6.1,0c0-14.8-3.4-22.2-10-22.2s-10,7.4-10,22.2,3.3,22.9,10,22.9q6.6,0,8.7-8.4C1631.5,1381.9,1631.9,1377.1,1631.9,1370.4Z" />
      <path class="cls-10"
            d="M1668.2,1397.5H1662V1353a43,43,0,0,1-8.9.8h-1.5V1350a26.1,26.1,0,0,0,6.1-1.9,15.4,15.4,0,0,0,2.8-1.9,28.3,28.3,0,0,0,3-3h4.7Z" />
      <path class="cls-10"
            d="M1767.8,1397.5h-40.5v-35.6c0-3.3,1.2-6.7,3.4-10.3h-5.8V1346h22.3c7,0,12.1,1.6,15.4,4.7s5.2,8.9,5.2,16.5Zm-6.3-5.4v-25c0-5.5-1.1-9.4-3.2-11.8s-5.8-3.7-11.1-3.7h-12.7c-.7,0-1,1-1,2.8v37.7Z" />
      <path class="cls-10"
            d="M1787,1374.6h-6.3v-17.1c0-4.3-1.6-6.5-4.9-6.5h-.6l-.6.2v-4.9a8.3,8.3,0,0,1,3.4-.5h.3a7.8,7.8,0,0,1,5.8,2.4c1.9,1.9,2.9,4.6,2.9,8.3Z" />
      <path class="cls-10"
            d="M1806,1374.6h-6.3v-17.1c0-4.3-1.6-6.5-4.9-6.5h-.6l-.6.2v-4.9a8.3,8.3,0,0,1,3.4-.5h.3a7.8,7.8,0,0,1,5.8,2.4c1.9,1.9,2.9,4.6,2.9,8.3Z" />
      <path class="cls-10"
            d="M1856.5,1397.5h-6.2v-27.4c0-12.9-6.4-19.4-19.3-19.4a31.9,31.9,0,0,0-7.7.9v45.9H1817v-50.4c3.1-1.3,7.9-1.9,14.4-1.9,16.8,0,25.1,8,25.1,23.9Z" />
      <path class="cls-10"
            d="M1929.6,1397.5h-6.2v-29.6c0-6.6-1.7-11.2-5.3-13.9s-7.5-3.2-14-3.2h-1.6l-2.3.3c-.8,0-1.2.7-1.2,1.9v28.8c0,5.4-1.2,9.5-3.6,12.4a10.6,10.6,0,0,1-8.4,4c-2.3,0-3.8-.7-4.6-2.1v-3.8l.7-.3a3.9,3.9,0,0,0,2.6.9c4.8,0,7.2-3.5,7.2-10.6v-21.9a20,20,0,0,1,2.4-9.2,36.7,36.7,0,0,0-4.2.7l-5.1.9v-5.5a88.9,88.9,0,0,1,18.8-1.8c8.1,0,14,1.4,17.7,4.3s7.1,9.5,7.1,18.3Z" />
      <path class="cls-10"
            d="M1971,1363.4c0,8.5-2,15.9-6.2,22.1a32.8,32.8,0,0,1-18.1,13.6v-5.8c6.3-3.1,10.9-6.7,13.6-10.9s4.6-11.2,4.6-19.3v-11.5h-28.5v-19.5h6.2V1346H1971Z" />
      <path class="cls-10"
            d="M2017.7,1346c0,6.9-.8,12.3-2.5,16.3s-5,8.2-9.9,13.2c8,9.7,12.1,17.1,12.4,22h-36.2V1392h28.2a37.3,37.3,0,0,0-3.9-6.2c-1.8-2.5-4.2-5.3-7-8.5-10.3-11.9-16.4-22.2-18.3-30.8v-.5h6.7a53.3,53.3,0,0,0,5.6,13.2,71.2,71.2,0,0,0,4.7,7,53.8,53.8,0,0,0,5.2,6.4c5.4-4.5,8.1-13.3,8.1-26.6Z" />
      <path class="cls-10"
            d="M2066.5,1397.5h-6.2V1369c0-12.1-6.3-18.2-19-18.2a26.5,26.5,0,0,0-11.9,2.5h-.4V1347c3.1-1.3,7.7-1.9,13.9-1.9s12.6,1.8,16.6,5.4,7,10.3,7,18.6Zm-30.7,0h-6.2v-28h6.2Z" />
      <path class="cls-10"
            d="M2107.9,1363.4c0,8.5-2.1,15.9-6.2,22.1a32.8,32.8,0,0,1-18.1,13.6v-5.8c6.3-3.1,10.8-6.7,13.5-10.9s4.7-11.2,4.7-19.3v-11.5h-28.5v-19.5h6.2V1346h28.4Z" />
      <path class="cls-10"
            d="M2176.6,1397.5h-6.3V1369c0-12.1-6.3-18.2-19-18.2a26.1,26.1,0,0,0-11.8,2.5h-.4V1347c3.1-1.3,7.7-1.9,13.8-1.9s12.7,1.8,16.7,5.4,7,10.3,7,18.6Zm-30.7,0h-6.3v-28h6.3Z" />
      <path class="cls-10"
            d="M2216.1,1397.5H2210v-27.8c0-12.3-5.7-18.4-17.1-18.4a20.9,20.9,0,0,0-8.7,1.5h-.6v-5.9a32.8,32.8,0,0,1,10.3-1.4c6.2,0,11.2,1.7,15.1,5.1s7.1,9.7,7.1,17.1Z" />
      <path class="cls-10"
            d="M2263.4,1397.5h-39V1392h27.7c-.7-.8-1-2.4-1-4.8v-17.4c0-12.3-5.3-18.4-16-18.4a19.3,19.3,0,0,0-8.7,1.7h-.5v-5.9a30.5,30.5,0,0,1,10.5-1.6c5.8,0,10.6,1.7,14.3,5.1s6.5,9.8,6.5,17.2v19.6q0,4.5,2.7,4.5h3.5Z" />
      <path class="cls-10"
            d="M2310.3,1397.5H2304v-27.4c0-12.9-6.4-19.4-19.2-19.4a32.1,32.1,0,0,0-7.8.9v45.9h-6.2v-50.4c3.1-1.3,7.9-1.9,14.3-1.9,16.8,0,25.2,8,25.2,23.9Z" />
      <path class="cls-10"
            d="M2359.1,1397.5h-6.3V1369c0-12.1-6.3-18.2-19-18.2a26.8,26.8,0,0,0-11.9,2.5h-.3V1347c3-1.3,7.7-1.9,13.8-1.9s12.7,1.8,16.7,5.4,7,10.3,7,18.6Zm-30.7,0h-6.3v-28h6.3Z" />
      <path class="cls-11" d="M167,1363.5A66.5,66.5,0,1,1,99,1297v8a58.5,58.5,0,1,0,60,58.5V1362h8Z" />
      <line class="cls-12" x1="100.5" y1="1306" x2="100.5" y2="1355" />
      <line class="cls-13" x1="100.5" y1="1421" x2="100.5" y2="1372" />
      <line class="cls-13" x1="43" y1="1363.5" x2="92" y2="1363.5" />
      <line class="cls-12" x1="158" y1="1363.5" x2="109" y2="1363.5" />
      <polygon class="cls-14"
            points="97 1356.3 100.7 1358.9 104.3 1356.2 103.8 1360.7 108 1362.5 103.9 1364.3 104.4 1368.8 100.7 1366.2 97.1 1368.9 97.6 1364.4 93.5 1362.6 97.6 1360.8 97 1356.3" />
      <path class="cls-15" d="M167,1362h-8a58.5,58.5,0,0,0-58.5-57H99v-8h1.5A66.6,66.6,0,0,1,167,1362Z" />
      <line class="cls-16" x1="167" y1="1362" x2="167" y2="1362" />
      <line class="cls-16" x1="99" y1="1297" x2="99" y2="1297" />


</svg>