.clickable {
    cursor: pointer;
}

.cls-1 {
    fill: url(#New_Gradient_Swatch);
}

.cls-2 {
    fill: url(#New_Gradient_Swatch-2);
}

.cls-custom-1 {
    fill: url(#New_Gradient_Swatch-3);
}

.cls-3 {
    fill: #252424;
}

.cls-4, .cls-5, .cls-6, .cls-7 {
    opacity: 0.5;
}

.cls-4 {
    fill: url(#linear-gradient);
}

.cls-5 {
    fill: url(#linear-gradient-2);
}

.cls-6 {
    fill: url(#linear-gradient-3);
}

.cls-7 {
    fill: url(#linear-gradient-4);
}

.cls-10, .cls-8 {
    fill: #fff;
}

.cls-9 {
    fill: #ed2224;
}

.cls-10 {
    stroke: #fff;
    stroke-width: 0.1px;
}

.cls-10, .cls-12, .cls-13, .cls-16 {
    stroke-miterlimit: 10;
}

.cls-11 {
    fill: #010101;
}

.cls-12, .cls-13, .cls-16 {
    fill: none;
}

.cls-12 {
    stroke: #ed2025;
}

.cls-12, .cls-13 {
    stroke-width: 2px;
}

.cls-13 {
    stroke: #000;
}

.cls-14 {
    fill: #ed2025;
}

.cls-15 {
    fill: #ed2024;
}

.cls-16 {
    stroke: blue;
}

/* #video-content{
    display:none;
} */