<div class="modal fade"
     id="activeAlarmModal"
     tabindex="-1"
     role="dialog"
     aria-hidden="true"
     data-backdrop="static"
     data-keyBoerd="false">
  <div class="modal-dialog"
       role="document">
    <div class="modal-content">

      <div class="modal-header text-center">
        <h5 class="modal-title">Active alarm</h5>
        <button type="button"
                class="close"
                aria-label="Close"
                (click)="closeModal()">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>

      <div class="modal-body">
        <div *ngIf="!loading">

          <!--  to activiate the alarm -->
          <div *ngIf="!alarmData.state">
            <div class="row justify-content-center">
              <label class="col-8 col-md-6 textFont">Alarm will activate in: {{timer}}</label>
            </div>

            <div class="row justify-content-center">
              <div class="col-6 col-md-4">
                <button type="button"
                        class="btn btn-primary"
                        (click)="cancelAlarm()">Cancel alarm</button>
              </div>
            </div>

            <br>
            <div class="row justify-content-center">
              <div class="col-8 col-md-6">
                <label>Duration:(minutes)</label>
                <input type="number"
                       [(ngModel)]="alarmData.duration"
                       value="30"
                       class="form-control"
                       name="duration"
                       id="duration">
              </div>
            </div>
          </div>



          <!-- When the alarm is active => close alarm -->
          <div *ngIf="alarmData.state">
            <div class="row justify-content-center">
              <div class="col-6 col-md-4">
                <button type="button"
                        class="btn btn-primary"
                        (click)="stopAlarm()">Stop alarm</button>
              </div>
            </div>
          </div>
        </div>

        <div *ngIf="loading"
             class="loader"></div>

      </div>

      <div class="modal-footer">
        <button type="button"
                class="btn btn-secondary"
                (click)="closeModal()">Close</button>

      </div>
    </div>
  </div>
</div>