/* You can add global styles to this file, and also import other style files */

html,
body {
  background-image: url('./assets/images/background.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  height: 100%;
  font-family: 'Numans', sans-serif;
  overflow-x: hidden;
  /*  direction: RTL; */
}

/* btn zoom efect */

.btn-change-zoom-effect {
  background: lightseagreen;
  margin: 20px;
  float: left;
  box-shadow: 0 0 1px #ccc;
  -webkit-transition: all 0.5s ease-in-out;
  border: 0px;
  color: #fff;
}

.btn-change-zoom-effect:hover {
  -webkit-transform: scale(1.1);
  background: #31708f;
}

/* put all the page in the center */

.centered {
  position: fixed;
  top: 50%;
  left: 50%;
  /* bring your own prefixes */
  transform: translate(-50%, -50%);
}

/*  */

.alert-danger {
  color: #e21629;
  background-color: #ff2337;
  border-color: #71000c;
}

.no-padding {
  padding-left: 0px;
  padding-right: 0px;
}

.no-padding-left {
  padding-left: 0px;
}

.no-padding-right {
  padding-right: 0px;
}

.pointer {
  cursor: pointer;
}


.loader {
  border: 16px solid #f3f3f3;
  border-radius: 50%;
  border-top: 16px solid #3498db;
  width: 120px;
  height: 120px;
  margin: 20px auto;
  -webkit-animation: spin 2s linear infinite;
  /* Safari */
  animation: spin 2s linear infinite;
}